Sie haben eine neue Anfrage über den Price-Picker erhalten.

Kundendaten:
----------------------------
TRICOMA-Kundennummer:   {{ order.customer.tricoma_id }}
Vorname:                {{ order.customer.first_name }}
Nachname:               {{ order.customer.last_name }}
Email:                  {{ order.customer.email }}
Telefonnummer:          {{ order.customer.tel }}
Straße:                 {{ order.customer.street }}
PLZ - Ort:              {{ order.customer.zip }} {{ order.customer.city }}


Auftragsdaten:
----------------------------
Auftragsart:        {% if order.kva %} KOSTENVORANSCHLAG {% else %} AUFTRAG {% endif %}
Gerät:              {{ order.device }}
Farbe:              {{ order.color }}
Shop:               {{ order.shop }}
Versand gewünscht: {% if order.customer_wishes_shipping_label %} VERSAND LABEL erforderlich {% else %} NEIN {% endif %}


Reparaturen:
----------------------------
{% for repair in order.repairs %}
    {{ repair.name }}:{{ repair.price }}
{% endfor %}

Rabatt: {{ order.discount or 0 }}
TOTAL: {{ order.total_cost_including_tax_and_discount }}


Problem-Beschreibung:
----------------------------
{{ order.problem_description }}