<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PricePicker{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta name="description" content="">
    <meta name="author" content="Leon Morten Richter; Tobias Poertner">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
</head>

<body>

{% include 'header.html' %}

<main>    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="globalerror">
            {% for category, message in messages %}
            <div class="globalerror__box globalerror__box--{{ category }}">
                <a class="globalerror__close" title="Close" href="#" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    <!-- child template -->
    {% block content %}{% endblock %}
</main>

{% include 'footer.html' %}

<!-- scripts -->
<script src="{{ url_for('static', filename='scripts/script.js') }}" type="text/javascript"></script>
</body>
</html>
