<!--Footer-->
<footer class="container container--wide">
    <div class="footer">
        <ul class="footer__list">
            <li class="footer__item"><a class="footer__link" href="{{ url_for('shop_blueprint.agb') }}">AGB</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ url_for('shop_blueprint.datenschutz') }}">Datenschutz</a></li>
            <li class="footer__item"><a class="footer__link" href="{{ url_for('shop_blueprint.impressum') }}">Impressum</a></li>
        </ul>
        <p class="footer__address">
            <span class="footer__company">Smartphoniker GmbH</span>
            Bahnhofstraße 30 <br>
            24223 Schwentinental
        </p>
        <span class="footer__credit">Made with &#10084; by&nbsp;<a class="footer__credit-links" href="https://leonmortenrichter.de" target="_blank" rel="noreferrer"> Leon </a>&nbsp;&&nbsp;<a class="footer__credit-links" href="https://tobiaspoertner.com" target="_blank" rel="noreferrer">Tobias</a></span>
    </div>
</footer>