{% extends "_base.html" %}
{% block page_title %}- Page Not Found{% endblock %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--nocontent">
            <h1 class="hero__heading">404</h1>
        </section>
    </div>

    <div class="container container--small">
        <section class="error">
            <h2 class="error__heading">Sorry. The requested page doesn't exist.</h2>
            <a class="error__button" href="{{ url_for('main.home')}}">Click here to go home</a>
        </section>
    </div>
{% endblock %}
