{% extends "_base.html" %}
{% block page_title %}- Server Error{% endblock %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--nocontent">
            <h1 class="hero__heading">403</h1>
        </section>
    </div>

    <div class="container container--small">
        <section class="error">
            <h2 class="error__heading">Sorry. Something went terribly wrong.</h2>
            <a class="error__button" href="{{ url_for('user.login') }}">Go Home here</a>
        </section>
    </div>
{% endblock %}
