@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-size: 16px;
  margin: 0;
  font-family: Roboto, sans-serif;
  letter-spacing: .6px;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

h1, h2, h3, p {
  margin: 0;
}

.heading, .hero__heading {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: .5em;
}

@media screen and (min-width: 900px) {
  .heading, .hero__heading {
    text-align: left;
    font-size: 2.2em;
  }
}

@media screen and (min-width: 1250px) {
  .heading, .hero__heading {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 2560px) {
  .heading, .hero__heading {
    font-size: 3.5em;
  }
}

.subheading, .bestseller__heading, .brands__heading, .testimonial__heading, .faq-section__heading, .datagb__heading, .search__heading, .faq__heading, .grid__heading, .color__heading, .form__heading, .order__heading, .customer__heading, .success__heading {
  font-weight: 400;
  font-size: calc(2em * .85);
  margin-bottom: .5em;
}

@media screen and (min-width: 900px) {
  .subheading, .bestseller__heading, .brands__heading, .testimonial__heading, .faq-section__heading, .datagb__heading, .search__heading, .faq__heading, .grid__heading, .color__heading, .form__heading, .order__heading, .customer__heading, .success__heading {
    font-size: calc(2.2em * .7);
  }
}

@media screen and (min-width: 1250px) {
  .subheading, .bestseller__heading, .brands__heading, .testimonial__heading, .faq-section__heading, .datagb__heading, .search__heading, .faq__heading, .grid__heading, .color__heading, .form__heading, .order__heading, .customer__heading, .success__heading {
    font-size: calc(2.5em * .7);
  }
}

@media screen and (min-width: 2560px) {
  .subheading, .bestseller__heading, .brands__heading, .testimonial__heading, .faq-section__heading, .datagb__heading, .search__heading, .faq__heading, .grid__heading, .color__heading, .form__heading, .order__heading, .customer__heading, .success__heading {
    font-size: calc(3.5em * .7);
  }
}

.subsubheading, .faq__subheading, .order__subheading, .order__devicename {
  font-weight: 400;
  font-size: 1.2em;
}

.cta, .hero__cta, .bestseller__cta, .search__button, .grid__button, .price__button, .order__button, .customer__button, .success__button {
  font-weight: 400;
  color: white;
  background-color: #FF6C00;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  font-size: 1.1em;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

.cta:hover, .hero__cta:hover, .bestseller__cta:hover, .search__button:hover, .grid__button:hover, .price__button:hover, .order__button:hover, .customer__button:hover, .success__button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.section, .hero, .bestseller, .brands, .testimonial, .faq-section, .datagb, .search, .faq, .grid, .color, .form, .order, .customer, .success {
  padding: 3em 0;
  text-align: left;
}

.content, .bestseller__content, .brands__content, .testimonial__content, .faq-section__content, .search__content, .faq__content, .grid__content, .color__content, .form__content, .order__content, .customer__content, .success__content {
  margin: 0 auto;
  width: calc(100% - 20px);
}

.checkboxhack, .grid__input, .color__input, .order__input {
  position: absolute;
  opacity: 0;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 900px) {
  .hide-mobile {
    display: inherit;
  }
}

@media screen and (min-width: 800px) {
  .hide-desktop {
    display: none;
  }
}

.hide {
  display: none;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  padding: 18px 0;
  margin: 0 auto;
}

header .header__logo {
  height: 50px;
}

@media screen and (min-width: 800px) {
  header .header__logo {
    height: 80px;
  }
}

header .header__togglecontainer {
  display: block;
  height: 35px;
  width: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 800px) {
  header .header__togglecontainer {
    display: none;
  }
}

header .header__menutoggle {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  opacity: 0;
  z-index: 102;
  -webkit-touch-callout: none;
}

header .header__menutoggle:checked ~ span {
  background-color: white;
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

header .header__menutoggle:checked ~ span ~ span {
  opacity: 0;
  -webkit-transform: rotate(0) scale(0.2);
          transform: rotate(0) scale(0.2);
}

header .header__menutoggle:checked ~ span ~ span ~ span {
  background-color: white;
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
          transform: rotate(45deg) translate(-6px, -6px);
}

header .header__burgerline {
  background-color: black;
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  top: 25%;
  border-radius: 4px;
  z-index: 101;
  -webkit-transition: background-color 0.3s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.3s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, background-color 0.3s ease, opacity 0.55s ease;
  transition: transform 0.5s ease, background-color 0.3s ease, opacity 0.55s ease, -webkit-transform 0.5s ease;
}

header .header__list {
  background-color: #424242;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  position: fixed;
  width: 60%;
  top: -16px;
  right: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  text-align: left;
  height: 100%;
  padding: 3em 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  z-index: 100;
}

header .header__list--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 800px) {
  header .header__list {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    position: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

header .header__link {
  color: white;
  display: block;
  width: 100%;
  padding: 1em 2em;
  font-size: 1.3em;
  position: relative;
}

@media screen and (min-width: 800px) {
  header .header__link {
    color: black;
    font-weight: 300;
    width: inherit;
    margin: 1em 0 0 2em;
    padding: 0;
  }
  header .header__link:after {
    background-color: #424242;
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 0px;
    height: 1px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .header__link:hover:after {
    width: 100%;
    left: 0;
  }
}

header .header__exitbtn {
  margin-bottom: 1em;
  margin-top: -1.5em;
  text-align: right;
  padding: 0 1.4em;
}

header .header__exitbtn img {
  width: 20px;
  cursor: pointer;
}

main {
  padding: 0;
  min-height: calc(100vh - 90px - 257px);
}

@media screen and (min-width: 800px) {
  main {
    min-height: calc(100vh - 120px - 156px);
  }
}

footer {
  background-color: #424242;
  display: block;
}

footer .footer {
  text-align: left;
  max-width: 1400px;
  margin: 0 auto;
  padding: 18px 0;
}

@media screen and (min-width: 650px) {
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  margin: 1em 0 2em;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

footer .footer__item {
  padding: 0 1em 0 0;
}

footer .footer__link {
  color: #8a8a8a;
  font-weight: 300;
  cursor: pointer;
}

footer .footer__address {
  color: #8a8a8a;
  font-weight: 300;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 63px;
}

footer .footer__company {
  color: #D8D8D8;
  display: block;
  font-size: 1.1em;
  padding: 0;
  margin-bottom: .3em;
}

footer .footer__credit {
  color: #FF6C00;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  font-size: .8em;
  padding: 38px 0;
  display: flex;
  justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 650px) {
  footer .footer__credit {
    padding: 3em 0 0;
  }
}

footer .footer__credit-links {
  color: #FF6C00;
  font-weight: 300;
}

footer .footer__credit-links:visited, footer .footer__credit-links:active, footer .footer__credit-links:focus, footer .footer__credit-links:hover {
  color: #FF6C00;
}

.container, .brands {
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .container, .brands {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.container--small, .brands {
  max-width: 1100px;
}

@media screen and (min-width: 900px) {
  .container--small, .brands {
    padding-left: 6em;
    padding-right: 6em;
  }
}

@media screen and (min-width: 1250px) {
  .container--small, .brands {
    padding-left: 12em;
    padding-right: 12em;
  }
}

.container--wide  {
  width: 100%;
}

.container--heroimage {
  min-height: 519px;
}

@media screen and (min-width: 800px) {
  .container--heroimage {
    min-height: 539px;
  }
}

@media screen and (min-width: 900px) {
  .container--heroimage {
    min-height: 428px;
  }
}

@media screen and (min-width: 1250px) {
  .container--heroimage {
    min-height: 404px;
  }
}

@media screen and (min-width: 1920px) {
  .container--heroimage {
    min-height: 577px;
  }
}

@media screen and (min-width: 2560px) {
  .container--heroimage {
    min-height: 753px;
  }
}

.container--brands {
  background-color: #D8D8D8;
  padding-left: 0;
  padding-right: 0;
}

.container--dual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container--fixed {
  background-color: #8a8a8a;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  position: -webkit-sticky;
  position: sticky;
  width: calc(100% - 36px);
  bottom: 0;
  margin-bottom: 3em;
}

@media screen and (min-width: 650px) {
  .container--fixed {
    width: calc(100% - 72px);
  }
}

.hero {
  min-height: inherit;
  padding-top: 2em;
  text-align: center;
}

.hero--nocontent {
  padding-bottom: 1em;
}

@media screen and (min-width: 800px) {
  .hero__heading--home {
    padding-top: 2.5em;
  }
}

@media screen and (min-width: 900px) {
  .hero__heading--home {
    padding-top: 2em;
  }
}

@media screen and (min-width: 1920px) {
  .hero__heading--home {
    padding-top: 3em;
    font-size: 3em;
  }
}

@media screen and (min-width: 2560px) {
  .hero__heading--home {
    padding-top: 5em;
  }
}

.hero__subheading {
  font-weight: 300;
  color: black;
  font-size: 1.3em;
  line-height: 24px;
}

@media screen and (max-width: 538px) {
  .hero__subheading {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 900px) {
  .hero__subheading {
    text-align: left;
    max-width: 430px;
    font-size: 1.1em;
  }
  .hero__subheading span {
    display: inline;
  }
}

@media screen and (min-width: 1250px) {
  .hero__subheading {
    font-size: 1.2em;
    max-width: 470px;
    margin-bottom: 2.6em;
  }
}

@media screen and (min-width: 1250px) {
  .hero__subheading {
    font-size: 1.2em;
    max-width: 500px;
    line-height: 1.15em;
    margin-bottom: 2.6em;
  }
}

.hero__cta {
  display: block;
  padding: .6em .4em;
  margin: 1.8em auto 0;
  width: 10em;
}

@media screen and (min-width: 900px) {
  .hero__cta {
    margin-left: 0;
  }
}

@media screen and (min-width: 2560px) {
  .hero__cta {
    width: 15em;
    font-size: 1.3em;
  }
}

.hero__cta--searchdevice {
  color: white;
  margin: 0 auto 1.8em;
  padding: .5em .2em;
  width: 8em;
  font-size: 1em;
}

.hero__chronic {
  font-weight: 300;
  color: #424242;
  text-align: left;
  max-width: 80%;
  margin-top: -.3em;
}

.hero__chroniclink {
  color: #424242;
  font-size: .9em;
}

.hero__chroniclink:hover {
  -webkit-text-decoration: underline #8a8a8a;
          text-decoration: underline #8a8a8a;
}

.divider, .order__divider {
  background-color: #D8D8D8;
  border: none;
  height: 1px;
}

.bestseller__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 750px) {
  .bestseller__list {
    -ms-grid-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
  }
}

@media screen and (min-width: 900px) {
  .bestseller__list {
    -ms-grid-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
  }
}

@media screen and (min-width: 1250px) {
  .bestseller__list {
    -ms-grid-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
  }
}

.bestseller__item {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(259px - 2em);
  padding: 2em 0 1em;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  cursor: pointer;
  position: relative;
  text-align: center;
  border-radius: 2px;
}

.bestseller__item:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.bestseller__item:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 900px) {
  .bestseller__item:nth-child(n + 6):nth-last-child(n + 2) {
    display: none;
  }
}

@media screen and (min-width: 1250px) {
  .bestseller__item:nth-child(n + 5):nth-last-child(n + 2) {
    display: none;
  }
}

.bestseller__link {
  display: block;
  width: 100%;
  height: 100%;
}

.bestseller__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bestseller__img {
  max-width: 50%;
  margin: 0 auto .5em;
}

.bestseller__devicename {
  font-weight: 400;
  color: black;
  margin: .3em 0 .1em;
  font-size: 1.5em;
}

.bestseller__repair {
  font-weight: 300;
  color: #8a8a8a;
  margin-top: 0;
}

.bestseller__price {
  color: #FF6C00;
  font-weight: 400;
  margin-top: 11px;
}

.bestseller__text {
  font-weight: 300;
  color: #424242;
  margin-top: 2.8em;
  letter-spacing: .8px;
}

.bestseller__cta {
  display: block;
  margin: 1em auto 3em;
  width: 60%;
  padding: .5em 1em;
}

.brands__heading {
  color: #FF6C00;
}

.brands__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(8em, 1fr))[2];
      grid-template-columns: repeat(2, minmax(8em, 1fr));
  grid-gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 750px) {
  .brands__list {
    -ms-grid-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
  }
}

.brands__item {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 238px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  border-radius: 2px;
}

.brands__item:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.brands__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__item:nth-child(3) img {
  width: 75%;
}

.brands__link {
  color: #FF6C00;
  font-weight: 400;
  font-size: 1.2em;
  display: block;
  height: 100%;
  width: 100%;
}

.brands__img {
  height: 4em;
}

.testimonial {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .testimonial {
    width: 48%;
  }
}

.faq-section {
  padding-top: 0;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .faq-section {
    width: 48%;
    padding-top: 3em;
  }
}

.faq-section__list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.faq-section__item {
  margin: 0 0 1em;
  cursor: pointer;
}

.faq-section__item:last-of-type {
  margin: 0;
}

.faq-section__link {
  color: black;
  font-weight: 300;
}

.faq-section__link:hover {
  text-decoration: underline;
}

.datagb {
  font-weight: 300;
  text-align: left;
}

.datagb__heading {
  margin-bottom: 1em;
}

.datagb__link {
  color: #FF6C00;
  word-wrap: break-word;
}

.datagb__link:hover {
  text-decoration: underline;
}

.datagb__text {
  margin: 1em 0;
}

.datagb__company {
  font-weight: 400;
  font-size: 1.1em;
}

.datagb p:last-of-type {
  margin-bottom: 0;
}

.datagb__subheading {
  font-weight: 400;
  font-size: 1.2em;
}

.datagb__subsubheading {
  color: #FF6C00;
  font-weight: 300;
  font-size: 1em;
}

.datagb__list {
  list-style-type: inherit;
}

.datagb__list--ordered {
  list-style-type: decimal;
}

.datagb__item--ordered {
  padding-bottom: 1em;
  word-wrap: break-word;
}

.search__input {
  font-weight: 300;
  display: block;
  padding: .8em 1.6em;
  width: calc(100% - 3.2em);
  font-family: Roboto, sans-serif;
  font-size: 1em;
  border: 1px solid #FF6C00;
  border-radius: 2px;
}

.search__input:focus {
  outline: none;
}

.search__input--searchdevice {
  margin: 1.2em auto 1.5em;
  width: 80%;
}

@media screen and (min-width: 750px) {
  .search__input--searchdevice {
    width: 100%;
  }
}

.search__button {
  width: 100%;
  height: 40px;
  margin: 1em auto 0;
}

@media screen and (min-width: 415px) {
  .search__button {
    margin: 1em auto 0;
    max-width: 300px;
  }
}

.faq__list {
  padding: 0;
  margin: 0;
}

.faq__item {
  margin: 1em 0 1em;
  cursor: pointer;
  overflow: hidden;
  max-height: 20px;
  -webkit-transition: max-height .7s ease-in-out;
  transition: max-height .7s ease-in-out;
}

.faq__question {
  font-weight: 300;
  color: #424242;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media screen and (min-width: 650px) {
  .faq__question {
    max-width: 95%;
  }
}

.faq__question:hover {
  color: black;
}

.faq__answer {
  margin-top: 0.2em;
}

.faq__answer a {
  color: #FF6C00;
  text-decoration: underline;
}

.faq__answer ul {
  list-style-type: disc;
}

.collapsed {
  max-height: 450px !important;
}

.grid__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(130px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 2em 1em;
}

@media screen and (min-width: 494px) {
  .grid__content {
    -ms-grid-columns: (minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr))[1];
        grid-template-columns: repeat(1, minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .grid__content {
    -ms-grid-columns: (minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr));
  }
}

@-moz-document url-prefix() {
  .grid__content {
    grid-template-columns: repeat(auto-fit, calc(100% / 3 - 2em / 3));
  }
  @media screen and (min-width: 900px) {
    .grid__content {
      grid-template-columns: repeat(auto-fit, calc(100% / 6 - 5em / 6));
    }
  }
}

.grid__content--short {
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}

.grid__content--repair {
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

@media screen and (max-width: 538px) {
  .grid__content--repair {
    width: 100%;
  }
}

.grid__content--error {
  display: block;
}

.grid__item {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  height: 140px;
  -webkit-transition: color .2s ease, -webkit-transform .3s ease;
  transition: color .2s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, color .2s ease;
  transition: transform .3s ease, color .2s ease, -webkit-transform .3s ease;
}

@media screen and (min-width: 650px) {
  .grid__item {
    height: 170px;
  }
}

@media screen and (min-width: 800px) {
  .grid__item {
    height: 200px;
  }
}

.grid__item:hover {
  color: #FF6C00;
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.grid__item--repair {
  height: 350px;
  max-width: 100%;
}

@media screen and (min-width: 1250px) {
  .grid__item--repair {
    max-width: 250px;
  }
}

.grid__link {
  color: #424242;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  outline: 2px solid transparent;
  -webkit-transition: outline .3s ease;
  transition: outline .3s ease;
}

.grid__image {
  display: block;
  width: 60%;
  max-height: 60%;
  padding: 0;
}

.grid__image--repair {
  width: 70%;
}

.grid__phoneframe {
  max-height: 75%;
  width: 100%;
  margin-bottom: -.6em;
}

.grid__more {
  color: #FF6C00;
  font-weight: 300;
  font-size: .9em;
}

.grid__input:checked ~ label.grid__link {
  outline: 2px solid #FF6C00;
}

.grid__input:checked ~ label.grid__link > div.grid__button {
  background-color: #8a8a8a;
}

.grid__input:checked ~ label.grid__link > div.grid__button::after {
  content: "abwählen";
}

.grid__button {
  border: none;
  width: 80%;
  height: 35px;
  margin-bottom: 1em;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.grid__button:hover {
  -webkit-transform: unset;
          transform: unset;
}

.grid__button:after {
  content: "auswählen";
}

.grid__title {
  font-weight: 700;
  color: black;
  margin-top: 1em;
  font-size: 1.2em;
}

@media screen and (max-width: 650px) {
  .grid__title {
    font-size: 1em;
  }
}

.grid__price {
  font-weight: 300;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  margin-bottom: .4em;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 90%;
  margin: 2em auto 0;
}

.progressbar__step {
  max-width: 100px;
}

.progressbar__number {
  color: #8a8a8a;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-height: 48px;
  max-width: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4em;
  border: 2px solid #FF6C00;
}

.progressbar__number--active {
  background-color: #FF6C00;
  color: white;
  border: 0px;
  max-width: 52px;
  max-height: 52px;
}

.progressbar__text {
  color: #8a8a8a;
  font-weight: 300;
  text-align: center;
  margin-top: .5em;
}

.progressbar__divider {
  background-color: #8a8a8a;
  height: 2px;
  width: 100%;
  margin-top: 1.5em;
  border-radius: 3px;
}

.color__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.color__item {
  margin-right: 1.5em;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.color__item:last-of-type {
  margin-right: 0;
}

.color__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.color__label, .order__color {
  border: 2px solid white;
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 50%;
  -webkit-transition: border .2s ease;
  transition: border .2s ease;
}

.color__circle {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 50%;
  border: 1px solid #EDEDED;
}

.color__input:checked ~ label.color__label, .color__input:checked ~ label.order__color {
  border-color: #FF6C00;
}

.color__name {
  font-weight: 300;
  margin-top: .8em;
  width: 100%;
  font-size: .9em;
}

.form__textarea, .order__textarea {
  width: calc(100% - 20px - 1.6em - 2px);
  height: 100px;
  resize: none;
  padding: .8em 1.6em;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
  -webkit-transition: border .3s ease, padding .3s ease;
  transition: border .3s ease, padding .3s ease;
}

.form__textarea:focus, .order__textarea:focus {
  border: 3px solid #FF6C00;
  outline: none;
  padding: calc(.8em - 2px) calc(1.6em - 2px);
}

.form__error {
  color: red;
  background-color: rgba(255, 0, 0, 0.2);
  margin-top: 0;
  margin-bottom: calc(2em * .85 * .5);
  padding: .5em 1em;
  border: 1px solid red;
  border-radius: 2px;
  display: none;
}

.form__error--center {
  margin: 0 auto;
  width: calc(100% - 20px - 2em);
  text-align: center;
}

.price__content {
  margin: 0 auto;
  height: 3em;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__text {
  color: white;
  font-weight: 400;
  font-size: 1.2em;
}

@media screen and (min-width: 750px) {
  .price__text {
    font-size: 1.5em;
  }
}

.price__sub {
  font-weight: 300;
  font-size: .5em;
}

.price__button {
  border: none;
  padding: .4em 1em;
}

@media screen and (min-width: 750px) {
  .price__button {
    padding: .4em 1.5em;
  }
}

@media screen and (min-width: 750px) {
  .price__button {
    padding: .4em 3em;
  }
}

.order__subheading--question {
  font-size: 1em;
}

@media screen and (min-width: 900px) {
  .order__subheading--question {
    min-height: 2.6em;
  }
}

.order__content--deviceinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.order__content--address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
  .order__content--address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .order__content--questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.order__image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  width: 150px;
  height: 150px;
  margin-right: 2em;
}

@media screen and (min-width: 900px) {
  .order__image {
    width: 250px;
    height: 250px;
  }
}

.order__colorname {
  font-weight: 300;
  color: #8a8a8a;
  margin: 1em 0;
}

.order__color {
  background-color: black;
  margin-left: 1em;
}

.order__list {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .order__list--total {
    max-width: 50%;
    margin: 0 0 0 auto;
  }
}

.order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__item:not(:last-child) {
  margin-bottom: .4em;
}

.order__text {
  font-weight: 300;
  color: #424242;
}

.order__text--taxes {
  text-align: right;
  font-size: -.9em;
}

.order__textarea {
  width: calc(100% - 20px - 2em - 2px);
  font-weight: 300;
  color: #424242;
}

.order__address, .order__contacts {
  margin-bottom: 1em;
  width: 50%;
}

.order__shippinglabel {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.order__input:checked ~ label.order__label span.order__checkbox span.order__innercheckbox {
  background-color: #FF6C00;
  display: inline-block;
  width: 90%;
  height: 90%;
  border-radius: 2px;
}

.order__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 18px;
  height: 18px;
  border: 1px solid #8a8a8a;
  border-radius: 2px;
  margin-right: 1em;
}

.order__label {
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 1250px) {
  .order__divider {
    width: 25%;
    margin: 0 0 0 auto;
  }
}

.order__total {
  font-weight: 700;
  font-size: 1.1em;
  text-align: right;
  margin-top: .5em;
}

.order__buttons {
  margin-top: 2em;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .order__buttons {
    max-width: 330px;
    margin: 1.5em 0 0 auto;
  }
}

.order__button {
  border: none;
  height: 40px;
  width: 100%;
}

.order__button:not(:last-of-type) {
  margin-bottom: 1em;
}

.order__button--primary {
  font-weight: 700;
  font-size: 1.2em;
}

.order__button--secondary {
  background-color: #8a8a8a;
  font-size: 1em;
}

.order__link {
  color: #FF6C00;
  word-wrap: break-word;
}

.order__link:hover {
  text-decoration: underline;
}

.order__question:not(:first-of-type) {
  margin-top: 1em;
}

@media screen and (min-width: 900px) {
  .order__question {
    width: 30%;
    margin-top: 0 !important;
  }
}

@media screen and (min-width: 1250px) {
  .customer__content--infosection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.customer__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1250px) {
  .customer__inputs {
    max-width: 60%;
  }
}

.customer__inputwrapper {
  width: 100%;
  display: inline-block;
}

.customer__inputwrapper:not(:last-of-type) {
  margin-bottom: 1em;
}

@media screen and (min-width: 750px) {
  .customer__inputwrapper {
    max-width: 49%;
  }
  .customer__inputwrapper--full {
    max-width: 100%;
  }
}

.customer sup {
  color: #FF6C00;
}

.customer__input {
  font-weight: 300;
  display: block;
  padding: .8em 1.6em;
  width: calc(100% - 3.2em - 6px);
  font-family: Roboto, sans-serif;
  font-size: 1em;
  border: 2px solid #D8D8D8;
  border-radius: 3px;
}

.customer__input:focus {
  border: 2px solid #FF6C00;
  outline: none;
}

.customer__buttonwrapper {
  width: 100%;
}

.customer__button {
  font-weight: 700;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 3px;
}

@media screen and (min-width: 750px) {
  .customer__button {
    max-width: 48%;
  }
}

.customer__infowrapper {
  display: inline-block;
  padding-top: 1em;
  margin-top: 1em;
}

@media screen and (min-width: 1250px) {
  .customer__infowrapper {
    width: 36%;
    margin-top: 0;
  }
}

.customer__text:not(:last-of-type) {
  margin-bottom: 1em;
}

.success--card {
  padding-top: 0;
}

.success__text {
  font-weight: 300;
}

.success__text--card {
  margin: 1em auto 1em;
}

@media screen and (min-width: 415px) {
  .success__text--card {
    width: 65%;
    margin: 0;
    padding-top: 1em;
  }
}

.success__card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  max-width: 500px;
  padding: 1em;
}

.success__image {
  margin: 0 auto;
  height: 100px;
}

@media screen and (min-width: 415px) {
  .success__image {
    width: 25%;
    margin-left: 0;
  }
}

.success__button {
  font-weight: 700;
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 1em;
}

.success__link {
  color: #FF6C00;
  word-wrap: break-word;
}

.success__link:hover {
  text-decoration: underline;
}

.globalerror {
  position: fixed;
  top: 20px;
  width: 100%;
  max-width: 1600px;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.globalerror__close {
  color: black;
  font-size: 1.6em;
  margin-right: .5em;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.globalerror__close:hover {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.globalerror__box {
  font-size: 1.05em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  width: 85%;
  margin: .3em auto;
  padding: 10px 20px;
}

.globalerror__box--error {
  background-color: rgba(255, 188, 187, 0.97);
  border: 1px solid red;
  color: red;
}

.globalerror__box--warning {
  background-color: rgba(255, 231, 187, 0.97);
  border: 1px solid #de9000;
  color: #de9000;
}

.globalerror__box--success {
  background-color: rgba(225, 241, 195, 0.96);
  border: 1px solid green;
  color: green;
}
/*# sourceMappingURL=main.css.map */