// Pre Declarations

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$colors: (
    primary: #FF6C00,
    dark: #424242,
    medium: rgb(138, 138, 138),
    light: #D8D8D8,
    b: black,
    w: white
);

$fonts: (
    light: 300,
    medium: 500,
    bold: 700
);

$xsmall: 538px;
$small: 650px;
$small-medium: 750px;
$medium: 800px;
$large: 900px;
$xlarge: 1250px;
$xxlarge: 1920px;
$xxxlarge: 2560px;


// Mixins

@mixin font($weight) {
    font-weight: map-get($map: $fonts, $key: $weight);
}

@mixin shadow($black) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, $black);
}

@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
}

@mixin color($color, $bg: false) {
    @if $bg {
        background-color: map-get($map: $colors, $key: $color);
    } @else {
        color: map-get($map: $colors, $key: $color);
    } 
}

// General Declaration

body {
    font-size: 16px;
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: .6px;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
}

// body.home {
//     background-image: url("../images/heroimage.jpg");
//     background-size: 800px;
//     background-position: top; 
//     background-position-y: -3%;

//     @media screen and (min-width: $small) {
//         background-position-y: inherit;
//     }

//     @media screen and (min-width: $medium) {
//         background-size: 900px;
//         background-position-y: -3%;
//     }

//     @media screen and (min-width: $large) {
//         background-image: url("../images/heroimage-wide.jpg");
//         background-size: 1920px;
//         background-position-y: inherit;
//         background-position-x: 62%;
//         max-height: none;
//     }
//     @media screen and (min-width: $xlarge) {
//         background-position-y: -2%;
//     }
//     @media screen and (min-width: $xxlarge) {
//         background-size: 2560px;
//         background-position-y: -3vw;
//     }
//     @media screen and (min-width: $xxxlarge) {
//         background-size: 3440px;
//         background-position-y: -6vw;
//     }
// }

// body.faq-site {
//     background-image: url("../images/lightgrey.png");
//     background-size: auto 270px;

//     @media screen and (min-width: $xsmall){
//         background-size: auto 295px;
//     }

//     @media screen and (min-width: $small){
//         background-size: auto 345px;
//     }

//     @media screen and (min-width: $medium){
//         background-size: auto 360px;
//     }

//     @media screen and (min-width: $large){
//         background-size: 100% 355px;
//     }

//     @media screen and (min-width: $xlarge){
//         background-size: 100% 440px;
//     }
// }

// body.imp--site {
//     @media screen and (min-height: 900px) and (max-width: $large) { 
//         & footer {
//             position: absolute;
//             bottom: 0;
//             width: calc(100% - 36px);
//             @media screen and (min-width: $small) {
//                 width: calc(100% - 72px);
//             }
//         }
//     }
//     @media screen and (min-height: 980px) and (min-width: $large) {
//         & footer {
//             position: absolute;
//             bottom: 0;
//             width: calc(100% - 36px);
//             @media screen and (min-width: $small) {
//                 width: calc(100% - 72px);
//             }
//         }
//     }

//     @media screen and (min-width: $xxxlarge) {
//         & footer {
//             position: inherit;
//             width: inherit;
//         }

//         @media screen and (min-height: 1180px) {
//             & footer {
//                 position: absolute;
//                 bottom: 0;
//                 width: calc(100% - 36px);
//                 @media screen and (min-width: $small) {
//                     width: calc(100% - 72px);
//                 }
//             }
//         }
//     }
// }

main {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: calc(100vh - 60px - 251px - 1em);

    @media screen and (min-width: $small) {
        min-height: calc(100vh - 106px - 196px - 1em);
    }
    

    @media screen and (min-width: $medium) {
        min-height: calc(100vh - 144px - 196px - 3em);
    }
}

a {
    @include color(b);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

span {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.cta {
    color: map-get($map: $colors, $key: w);
    background-color: map-get($map: $colors, $key: primary);
    font-size: 1.1em;
    font-weight: map-get($map: $fonts, $key: medium);
    @include shadow(.26);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(0.95);
    }
}

.heading {
    font-size: 1.9em;
    letter-spacing: 1px;
    @media screen and (min-width: $xlarge) {
        font-size: 2.3em;
    }
}



// Desktop / Mobile Switcher

.hide-mobile {
    display: none;

    @media screen and (min-width: $large) {
        display: inherit;
    }
}

.hide-desktop {
    @media screen and (min-width: $medium) {
        display: none;
    }
}

.collapsed {
    max-height: 450px !important;
}

.hide {
    display: none;
}


// Layout

.container {
    padding: 14px 18px 0;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $small) {
        padding: 30px 36px;
    }
    
    &--small {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 1100px;

        @media screen and (min-width: $large) {
            padding: 0px 6em;
        }
        @media screen and (min-width: $xlarge) {
            padding: 0px 12em;
        }        
    }

    &--wide {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
    }
}


// Navigation

.header {
    @include flex(space-between);
    max-width: 1400px;
    margin: 0 auto;

    &__logo {
        height: 42px;

        @media screen and (min-width: $medium) {
            height: 80px;
        }

        @media screen and (min-width: $large) {
            width: 140px;
        }
    }

    &__icon {
        margin-top: 3em;
        width: 25px;
    }

    &__togglecontainer {
        display: block;
        position: relative;
        height: 35px;
        width: 35px;
        user-select: none;

        @media screen and (min-width: $medium) {
            display: none;
        }
    }

    &__menutoggle {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        opacity: 0;
        z-index: 9;
        -webkit-touch-callout: none;

        &:checked ~ span {
            @include color(w, true);
            opacity: 1;
            transform: rotate(-45deg) translate(-5px, 5px);
        }

        &:checked ~ span ~ span {
            opacity: 0;
            transform: rotate(0) scale(0.2);
        }

        &:checked ~ span ~ span ~ span {
            @include color(w, true);
            opacity: 1;
            transform: rotate(45deg) translate(-6px, -6px);
        }
    }

    &__burgerline {
        @include color(b, true);
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        top: 25%;
        border-radius: 4px;      
        z-index: 8;       
        transition: transform 0.5s ease,
                    background-color 0.3s ease,
                    opacity 0.55s ease;
    }

    &__list {
        @include color(dark, true);
        @include shadow(.26);
        position: fixed;
        width: 60%;
        top: -16px;
        right: 0;
        transform-origin: right;
        transform: translateX(105%);
        text-align: left;
        height: 100%;
        z-index: 6;
        padding: 3em 0;
        transition: transform 0.4s ease;

        &--in {
            transform: translateY(0);
        }

        @media screen and (min-width: $medium) {
            margin: 0;
            padding: 0;
            box-shadow: none;
            background: none;
            position: inherit;
            display: flex;
            transform: translateY(0); 
        }
    }

    &__item {
        height: 65px;
    }

    &__link {
        @include color(w);
        @include font(medium);
        display: block;
        position: relative;
        width: 100%;
        padding: 1em 2em;
        font-size: 1.3em;

        

        @media screen and (min-width: $medium) {
            @include color(b);
            @include font(light);
            width: inherit;
            margin: 1em 2em;
            padding: 0;
            
            
            &:after {
                @include color(dark, true);
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0%;
                width: 0px;
                height: 1px;
                transition: all 0.5s ease;
            }
            
            &:hover:after {
            width: 100%;
            left: 0;
            }
        }
    }

    &__exitbtn {
        margin-bottom: 1em;
        margin-top: -1.5em;
        text-align: right;
        padding: 0 1.4em;

        & img {
            width: 20px;
            cursor: pointer;
        }
    }
}


// Hero Section

.hero {
    min-height: inherit;
    padding-top: 1.5em;
    

    &--home {
        min-height: 540px;
        
        @media screen and (min-width: $small){
            min-height: 590px;
        }

        @media screen and (min-width: $medium) {
            min-height: 600px;
        }

        @media screen and (min-width: $large) {
            min-height: 540px;
        }

        @media screen and (min-width: $xlarge) {
            min-height: 470px;
        }

        @media screen and (min-width: $xxlarge) {
            min-height: 670px;
        }
        @media screen and (min-width: $xxxlarge) {
            min-height: 800px;
        }
    }


    &--faq {
        label {
            display: inline-block;
            width: 80%;
            margin: 0 auto;
        }
    }

    &--searchdevice {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3em;

        label {
            width: 100%;
        }
    }

    &--datenschutz {
        margin: 0 auto 5em;
    }

    &__heading {
        @include font(bold);
        margin: .8em auto .8em;
        font-size: 2em;

        @media screen and (max-width: $xsmall){
            font-size: 5.5vw;
        }

        @media screen and (min-width: $large) {
            margin: 2.4em auto 0;
            text-align: left;
            font-size: 2.2em;

            &--search {
                margin: .6em auto .5em;
            }

            &--noheroimage {
                margin: 1.2em auto 0;
            }
        }

        @media screen and (min-width: $xlarge) {
            margin: 2em auto 0;
            font-size: 2.5em;

            &--noheroimage {
                margin: 2em auto 0;
            }
        }

        @media screen and (min-width: $xxxlarge) {
            margin: 3.4em auto .6em;
            font-size: 3.5em;

            &--search {
                margin: 1.3em auto .5em;
            }

            &--noheroimage {
                margin: 2em auto 0;
            }
        }

        &--searchdevice {
            margin: 0;
        }
    }

    &__subheading {
        @include font(light);
        @include color(dark);
        font-size: 1.3em;
        line-height: 24px;

        @media screen and (max-width: $xsmall){
            font-size: 1.1em;
        }

        @media screen and (min-width: $large) {
            text-align: left;
            max-width: 430px;
            font-size: 1.1em;

            & span {
                display: inline;
            }
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 470px;
            margin-bottom: 2.6em;
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 500px;
            line-height: 1.15em;
            margin-bottom: 2.6em;
        }
    }

    &__search {
        @include font(light);
        margin: 1em auto 2.1em;
        padding: .8em 1.6em;
        width: 80%;
        font-family: Roboto, sans-serif;
        font-size: 1em;
        border: 1px solid map-get($map: $colors, $key: primary);

        &:focus {
            outline: none;
        }

        @media screen and (min-width: $small) {
            width: calc(80% - 3.2em - 2px);
        }

        &--searchdevice {
            margin: 1.2em auto 1.5em;
            width: 80%;

            @media screen and (min-width: $small-medium) {
                width: 100%;
            }
        }
    }

    &__cta {
        @extend .cta;
        display: block;
        padding: .6em .4em;
        margin: 1.8em auto;
        width: 10em;

        @media screen and (min-width: $large) {
            margin-left: 0;
        }
        @media screen and (min-width: $xxxlarge) {
            width: 15em;
            font-size: 1.3em;
        }

        &--searchdevice {
            @include color(w);
            margin: 0 auto 1.8em;
            padding: .5em .2em;
            width: 8em;
            font-size: 1em;
        }
    }

    &__chronic {
        @include font(light);
        @include color(dark);
        text-align: left;
        max-width: 80%;
        margin-top: -.3em;
    }

    &__chroniclink {
        @include color(dark);
        font-size: .9em;

        &:hover {
            text-decoration: underline map-get($map: $colors, $key: medium);
        }
    }
}


// Bestseller

.bestseller {
    padding-bottom: 3em;


    &__heading {
        @extend .heading;
        text-align: left;
    }

    &__list {
        padding: 0;
        
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        grid-gap: 1em;
        justify-content: center;

        @media screen and (min-width: $small-medium) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }

        @media screen and (min-width: $large) {
            padding: 0 1.5em;
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
        @media screen and (min-width: $xlarge) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
    }

    &__item {
        padding: 2em 0 0;
        transition: transform .2s ease;
        cursor: pointer;


        &:hover {
            @include shadow(.26);
            transform: scale(0.99);
        }
        
        &:last-child:hover {
            box-shadow: none;
            transform: none; 
        }

        @media screen and (max-width: $large) {
            &:nth-child(n + 6):nth-last-child(n + 2) {
                display: none;
            }
        }
        @media screen and (min-width: $xlarge) {
            &:nth-child(n + 5):nth-last-child(n + 2) {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__img {
        max-width: 50%;
    }

    &__devicename {
        margin: .3em 0 .1em;
        font-size: 1.5em;
    }

    &__repair {
        @include font(light);
        @include color(medium);
        margin-top: 0;
    }

    &__price {
        @include color(primary);
    }

    &__text {
        @include font(light);
        @include color(dark);
        margin-top: 2.8em;
        letter-spacing: .8px;
    }

    &__cta {
        @extend .cta;
        display: block;
        margin: 1em auto;
        width: 60%;
        padding: .5em 1em;
    }
}


// Brands-Liste

.brands-container {
    @include color(light, true);
}


.brands {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 100px;

    @media screen and (min-width: $small) {
        padding-bottom: 50px;
    }

    @media screen and (min-width: $large) {
        padding: 0px calc(6em - 36px) 50px;
    }

    @media screen and (min-width: $xlarge) {
        padding: 0px calc(12em - 36px) 50px;
    }

    &__heading {
        @extend .heading;
        @include color(primary);
        text-align: left;
    }

    &__list {
        margin: 3em 2vw 0;
        padding: 0;
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: minmax(8em, 1fr) minmax(8em, 1fr);
        grid-row-gap: 10%;
        grid-column-gap: 4vw;

        @media screen and (min-width: $small) {
            grid-template-columns: minmax(8em, 1fr) minmax(8em, 1fr) minmax(8em, 1fr) minmax(8em, 1fr);
            grid-column-gap: 2%;
        }

        @media screen and (min-width: $large) {
            padding: 0 1.5em;
            margin: 3em 0 0;
        }
        @media screen and (min-width: $xlarge) {
            padding: 0;
        }
    }

    &__item {
        @include shadow(.26);
        @include color(w, true);
        padding: 40% 0;
        height: 80px;
        width: 95%;
        cursor: pointer;
        transition: transform .2s ease;

        &:hover {
            transform: scale(0.99);
        }

        &:last-child {
            @include flex(center);
            align-items: center;
        }

        &:nth-child(3) {
            & img {
                width: 75%;
            }
        }
    }

    &__link {
        @include color(primary);
        @include font(medium);
        font-size: 1.2em;
    }

    &__img {
        height: 4em;
    }
}


// Grid für Shop

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 2em 1em;
    margin: -3em auto 3em;

    @media screen and (min-width: $medium) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    &__item {
        @include shadow(.16);
        height: 140px;
        transition: transform .3s ease, color .2s ease;

        @media screen and (min-width: $small) {
            height: 170px;
        }

        @media screen and (min-width: $medium) {
            height: 200px;
        }

        &:hover {
            @include color(primary);
            transform: scale(.95);
        }
    }

    &__link {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__image {
        display: block;
        width: 60%;
        padding: 0;
    }

    &__phoneframe {
        max-height: 75%;
        width: 100%;
        margin-bottom: -.6em;
    }

    &__more {
        @include color(primary);
        @include font(light);
        font-size: .9em;
    }
}


// Divider

.divider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0 1em;

    &__line {
        @include color(medium, true);
        width: 30%;
        height: 1px;
    }

    &__text {
        @include font(light);
        @include color(medium);
        font-size: .8em;
    }
}

// Testimonials + FAQ Section

.last-section {
    @include flex(space-between);
    flex-wrap: wrap;

    @media screen and (min-width: $medium) {
        margin-bottom: 3em;
    }
}

.testimonial {
    text-align: left;
    width: 100%;

    @media screen and (min-width: $small){
        margin-top: 2em;
    }

    @media screen and (min-width: $medium) {
        width: 48%;
    }

    &__heading {
        @extend .heading;
    }

    &__img {
        padding-left: 1.5em;
    }
}

.faq {
    margin: 3em 0;
    text-align: left;

    @media screen and (min-width: $medium) {
        margin: 2em 0 0;
        width: 48%;
    }

    &--search {
        width: inherit;
        margin: 3em auto;
    }

    &__heading {
        @extend .heading;
    }

    &__list {
        padding: 0 0 0 1.5em;

        &--search {
            padding-left: 0;
            margin: 5em auto 0;
            min-height: 300px;
            width: 100%;

            @media screen and (min-width: $small) {
                width: 80%;
            }
        }
    }

    &__category {
        @include color(primary);
        font-size: 1.2em;
        margin-top: 2em;        
    }

    &__item {
        margin: 0 0 1em;
        cursor: pointer;

        &--search {
            overflow: hidden;
            max-height: 20px;
            transition: max-height .7s ease-in-out;
        }
    }

    &__link {
        @include color(dark);

        &--search {
            @include font(light);
            @include color(dark);
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;

            @media screen and (min-width: $small) {
                max-width: 95%;
            }
            
            &:hover {
                @include color(b);
            }
        }
    }

    &__answer {
        margin-top: 0.2em;

        a {
            @include color(primary);
            text-decoration: underline;
        }
    }
}

// Datenschutz

.datagb {
    @include font(light);
    text-align: left;
    margin-bottom: 3em;
    
    & h2 {
        font-size: 1.4em;
    }

    & h3 {
        font-size: 1.2em;
    }

    &__heading {
        margin: 25px 0 25px;
    }

    & span {
        @include color(primary);
        font-size: 1.1em;
    }
    &__link {
        @include color(primary);
        word-wrap: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    & ul {
        list-style-type: inherit;
    }

    ol li {
        padding-bottom: 1em;
        word-wrap: break-word;
    }
}

// Progressbar

.progressbar {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 2em auto 7em;

    &__step {
        max-width: 100px;
    }

    &__number {
        @include color(medium);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 48px;
        max-width: 48px;
        border-radius: 50%;
        display: grid;
        align-content: center;
        font-size: 1.4em;
        border: 2px solid map-get($map: $colors, $key: primary);

        &--active {
            @include color(primary, true);
            @include color(w);
            border: 0px;
            max-width: 52px;
            max-height: 52px;
        }
    }

    &__text {
        @include color(medium);
        @include font(light);
        text-align: center;
        margin-top: .5em;
    }

    &__divider {
        @include color(medium, true);
        height: 2px;
        width: 100%;
        margin-top: 1.5em;
        border-radius: 3px;
    }
}

// Footer

footer {
    @include color(dark, true);
    display: block;
    min-height: 136px;
}

.footer {
    text-align: left;
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (min-width: $small) {
        @include flex(space-between);
        flex-wrap: wrap;
    }

    &__list {
        @include flex(flex-start);
        padding: 0;
        margin: 1em 0 2em;
        order: 2;
    }

    &__item {
        padding: 0 1em 0 0;
    }

    &__link {
        @include color(medium);
        @include font(light);
    }

    &__address {
        @include color(medium);
        @include font(light);
        order: 1;
        height: 63px;
    }

    &__company {
        @include color(light);
        display: block;
        font-size: 1.1em;
        padding: 0;
        margin-bottom: .3em;
    }

    &__credit {
        @include color(primary);
        @include font(light);
        @include flex(center);
        order: 3;
        width: 100%;
        font-size: .8em;
        padding: 38px 0;
        display: flex;
        justify-content: center;
        align-items: baseline;

        @media screen and (min-width: $small){
            padding: 3em 0 0;
            margin-bottom: -1em;
        }
    }

    &__credit-links {
        @include color(primary);
        @include font(light);
        
        &:visited, &:active, &:focus, &:hover {
            @include color(primary);
        }
    }
 }