// -----------------------------------------------
// -------------  Pre Declarations  --------------
// -----------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$colors: (
    primary: #FF6C00,
    dark: #424242,
    medium: rgb(138, 138, 138),
    light: #D8D8D8,
    b: black,
    w: white
);

$fonts: (
    light: 300,
    regular: 400,
    bold: 700
);

$xsmall: 538px;
$small: 650px;
$small-medium: 750px;
$medium: 800px;
$large: 900px;
$xlarge: 1250px;
$xxlarge: 1920px;
$xxxlarge: 2560px;

@mixin font($weight) {
    font-weight: map-get($map: $fonts, $key: $weight);
} // done

@mixin shadow($black) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, $black);
} // done

@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
} // done

@mixin color($color, $bg: false) {
    @if $bg {
        background-color: map-get($map: $colors, $key: $color);
    } @else {
        color: map-get($map: $colors, $key: $color);
    } 
} // done


// -----------------------------------------------
// -------------  General Styling  ---------------
// -----------------------------------------------

* {
   outline: .5px dashed red;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: .6px;
    -webkit-font-smoothing: antialiased;
}  // done

a, a:visited {
    text-decoration: none;
    cursor: pointer;
} // done

ul {
    list-style-type: none;
} // done

h1, h2, h3, p {
    margin: 0;
}

.heading {
    @include font(bold);
    font-size: 2em;
    margin-bottom: .5em;

    @media screen and (min-width: $large) {
        text-align: left;
        font-size: 2.2em;
    }

    @media screen and (min-width: $xlarge) {
        font-size: 2.5em;
    }

    @media screen and (min-width: $xxxlarge) {
        font-size: 3.5em;
    }
}

.subheading {
    @include font(regular);
    font-size: calc(2em * .85);
    margin-bottom: .5em;

    @media screen and (min-width: $large) {
        font-size: calc(2.2em * .7);
    }

    @media screen and (min-width: $xlarge) {
        font-size: calc(2.5em * .7);
    }

    @media screen and (min-width: $xxxlarge) {
        font-size: calc(3.5em * .7);
    }
}

.cta {
    @include font(regular);
    @include color(w);
    @include color(primary, true);
    @include shadow(.26);
    font-size: 1.1em;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: scale(0.95);
    }
}

.section {
    padding: 3em 0;
}

.content {
    margin: 0 auto;
    width: calc(100% - 20px);
}


// -----------------------------------------------
// -------------  Switcher Classes ---------------
// -----------------------------------------------

.hide-mobile {
    display: none;

    @media screen and (min-width: $large) {
        display: inherit;
    }
} // done

.hide-desktop {
    @media screen and (min-width: $medium) {
        display: none;
    }
} // done

.hide {
    display: none;
} // done


// -----------------------------------------------
// ------------------  Layout  -------------------
// -----------------------------------------------

header { 
    & .header {
        @include flex(space-between);
        max-width: 1400px;
        padding: 18px 0;
        margin: 0 auto;
    
        &__logo {
            height: 50px;
    
            @media screen and (min-width: $medium) {
                height: 80px;
            }
        }
    
        &__togglecontainer {
            display: block;
            height: 35px;
            width: 35px;
            user-select: none;
    
            @media screen and (min-width: $medium) {
                display: none;
            }
        }
    
        &__menutoggle {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            opacity: 0;
            z-index: 9;
            -webkit-touch-callout: none;
    
            &:checked ~ span {
                @include color(w, true);
                opacity: 1;
                transform: rotate(-45deg) translate(-5px, 5px);
            }
    
            &:checked ~ span ~ span {
                opacity: 0;
                transform: rotate(0) scale(0.2);
            }
    
            &:checked ~ span ~ span ~ span {
                @include color(w, true);
                opacity: 1;
                transform: rotate(45deg) translate(-6px, -6px);
            }
        }
    
        &__burgerline {
            @include color(b, true);
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            top: 25%;
            border-radius: 4px;      
            z-index: 8;       
            transition: transform 0.5s ease,
                        background-color 0.3s ease,
                        opacity 0.55s ease;
        }
    
        &__list {
            @include color(dark, true);
            @include shadow(.26);
            position: fixed;
            width: 60%;
            top: -16px;
            right: 0;
            transform-origin: right;
            transform: translateX(105%);
            text-align: left;
            height: 100%;
            padding: 3em 0;
            transition: transform 0.4s ease;
    
            &--in {
                transform: translateY(0);
            }
    
            @media screen and (min-width: $medium) {
                margin: 0;
                padding: 0;
                box-shadow: none;
                background: none;
                position: inherit;
                display: flex;
                transform: translateY(0); 
            }
        }
    
        &__link {
            @include color(w);
            display: block;
            width: 100%;
            padding: 1em 2em;
            font-size: 1.3em;
            position: relative;
    
            @media screen and (min-width: $medium) {
                @include color(b);
                @include font(light);
                width: inherit;
                margin: 1em 0 0 2em;
                padding: 0;
                
                
                &:after {
                    @include color(dark, true);
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0%;
                    width: 0px;
                    height: 1px;
                    transition: all 0.5s ease;
                }
                
                &:hover:after {
                width: 100%;
                left: 0;
                }
            }
        }
    
        &__exitbtn {
            margin-bottom: 1em;
            margin-top: -1.5em;
            text-align: right;
            padding: 0 1.4em;
    
            & img {
                width: 20px;
                cursor: pointer;
            }
        }
    }
} // done

main {
    padding: 0;
    min-height: calc(100vh - 90px - 257px);
    
    @media screen and (min-width: $medium) {
        min-height: calc(100vh - 120px - 156px);
    }
} // done

footer {
    @include color(dark, true);
    display: block;
    
    & .footer {
        text-align: left;
        max-width: 1400px;
        margin: 0 auto;
        padding: 18px 0;

        @media screen and (min-width: $small) {
            @include flex(space-between);
            flex-wrap: wrap;
        }

        &__list {
            @include flex(flex-start);
            padding: 0;
            margin: 1em 0 2em;
            order: 2;
        }

        &__item {
            padding: 0 1em 0 0;
        }

        &__link {
            @include color(medium);
            @include font(light);
            cursor: pointer;
        }

        &__address {
            @include color(medium);
            @include font(light);
            order: 1;
            height: 63px;
        }

        &__company {
            @include color(light);
            display: block;
            font-size: 1.1em;
            padding: 0;
            margin-bottom: .3em;
        }

        &__credit {
            @include color(primary);
            @include font(light);
            @include flex(center);
            order: 3;
            width: 100%;
            font-size: .8em;
            padding: 38px 0;
            display: flex;
            justify-content: center;
            align-items: baseline;

            @media screen and (min-width: $small){
                padding: 3em 0 0;
            }
        }

        &__credit-links {
            @include color(primary);
            @include font(light);
            
            &:visited, &:active, &:focus, &:hover {
                @include color(primary);
            }
        }
    }
}

.container {
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $small) {
        padding-left: 36px;
        padding-right: 36px;
    }
    
    &--small {
        max-width: 1100px;

        @media screen and (min-width: $large) {
            padding-left: 6em;
            padding-right: 6em;
        }
        @media screen and (min-width: $xlarge) {
            padding-left: 12em;
            padding-right: 12em;
        }        
    }

    &--wide {
        width: 100%;
    }

    &--heroimage {
        min-height: 519px;

        @media screen and (min-width: $medium) {
            min-height: 539px;
        }

        @media screen and (min-width: $large) {
            min-height: 428px;
        }

        @media screen and (min-width: $xlarge) {
            min-height: 404px;
        }

        @media screen and (min-width: $xxlarge) {
            min-height: 577px;
        }
        @media screen and (min-width: $xxxlarge) {
            min-height: 753px;
        }
    }

    &--brands {
        @include color(light, true);
        padding-left: 0;
        padding-right: 0;
    }

    &--dual {
        @include flex(space-between);
        flex-wrap: wrap;
    }
} // done

.hero {
    @extend .section;
    min-height: inherit;
    padding-top: 2em;

    &--faq {
        label {
            display: inline-block;
            width: 80%;
            margin: 0 auto;
        }
    }

    &--searchdevice {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3em;

        label {
            width: 100%;
        }
    }

    &__heading {
        @extend .heading;

        &--home {

            @media screen and (min-width: $medium) {
                padding-top: 2.5em;
            }
    
            @media screen and (min-width: $large) {
                padding-top: 2em;
            }
    
            @media screen and (min-width: $xlarge) {
                
            }
    
            @media screen and (min-width: $xxlarge) {
                padding-top: 3em;
                font-size: 3em;
            }

            @media screen and (min-width: $xxxlarge) {
                padding-top: 5em;
            }
        }
    }

    &__subheading {
        @include font(light);
        @include color(b);
        font-size: 1.3em;
        line-height: 24px;

        @media screen and (max-width: $xsmall){
            font-size: 1.1em;
        }

        @media screen and (min-width: $large) {
            text-align: left;
            max-width: 430px;
            font-size: 1.1em;

            & span {
                display: inline;
            }
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 470px;
            margin-bottom: 2.6em;
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 500px;
            line-height: 1.15em;
            margin-bottom: 2.6em;
        }
    }

    &__search {
        @include font(light);
        margin: 1em auto 2.1em;
        padding: .8em 1.6em;
        width: 80%;
        font-family: Roboto, sans-serif;
        font-size: 1em;
        border: 1px solid map-get($map: $colors, $key: primary);

        &:focus {
            outline: none;
        }

        @media screen and (min-width: $small) {
            width: calc(80% - 3.2em - 2px);
        }

        &--searchdevice {
            margin: 1.2em auto 1.5em;
            width: 80%;

            @media screen and (min-width: $small-medium) {
                width: 100%;
            }
        }
    }

    &__cta {
        @extend .cta;
        display: block;
        padding: .6em .4em;
        margin: 1.8em auto 0;
        width: 10em;

        @media screen and (min-width: $large) {
            margin-left: 0;
        }
        @media screen and (min-width: $xxxlarge) {
            width: 15em;
            font-size: 1.3em;
        }

        &--searchdevice {
            @include color(w);
            margin: 0 auto 1.8em;
            padding: .5em .2em;
            width: 8em;
            font-size: 1em;
        }
    }

    &__chronic {
        @include font(light);
        @include color(dark);
        text-align: left;
        max-width: 80%;
        margin-top: -.3em;
    }

    &__chroniclink {
        @include color(dark);
        font-size: .9em;

        &:hover {
            text-decoration: underline map-get($map: $colors, $key: medium);
        }
    }
}


// -----------------------------------------------
// -------------------  Home  -------------------- 
// -----------------------------------------------

// Bestseller Section
.bestseller {
    @extend .section;

    &__heading {
        @extend .subheading;
        text-align: left;
    }

    &__content {
        @extend .content;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        grid-gap: 1em;
        justify-content: center;

        @media screen and (min-width: $small-medium) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }

        @media screen and (min-width: $large) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
        @media screen and (min-width: $xlarge) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
    }

    &__item {
        @include shadow(.26);
        @include flex(center);
        flex-direction: column;
        min-height: calc(259px - 2em);
        padding: 2em 0 1em;
        transition: transform .2s ease;
        cursor: pointer;
        position: relative;

        &:hover {
            transform: scale(0.99);
        }
        
        &:last-child {
            box-shadow: none;
            transform: none; 
        }

        @media screen and (max-width: $large) {
            &:nth-child(n + 6):nth-last-child(n + 2) {
                display: none;
            }
        }
        @media screen and (min-width: $xlarge) {
            &:nth-child(n + 5):nth-last-child(n + 2) {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__img {
        max-width: 50%;
        margin: 0 auto .5em;
    }

    &__devicename {
        @include font(regular);
        @include color(b);
        margin: .3em 0 .1em;
        font-size: 1.5em;
    }

    &__repair {
        @include font(light);
        @include color(medium);
        margin-top: 0;
    }

    &__price {
        @include color(primary);
        @include font(regular);
        margin-top: 11px;
    }

    &__text {
        @include font(light);
        @include color(dark);
        margin-top: 2.8em;
        letter-spacing: .8px;
    }

    &__cta {
        @extend .cta;
        display: block;
        margin: 1em auto 3em;
        width: 60%;
        padding: .5em 1em;
    }
}

// Brands Section
.brands {
    @extend .container;
    @extend .container--small;
    @extend .section;

    &__heading {
        @extend .subheading;
        @include color(primary);
        text-align: left;
    }

    &__content {
        @extend .content;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(8em, 1fr));
        grid-gap: 1em;
        justify-content: space-between;

        @media screen and (min-width: $small-medium) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
    }

    &__item {
        @include shadow(.26);
        @include color(w, true);
        @include flex(center);
        flex-direction: column;
        min-height: 238px;
        width: 100%;
        cursor: pointer;
        transition: transform .2s ease;

        &:hover {
            transform: scale(0.99);
        }

        &:last-child {
            @include flex(center);
            align-items: center;
        }

        &:nth-child(3) {
            & img {
                width: 75%;
            }
        }
    }

    &__link {
        @include color(primary);
        @include font(regular);
        font-size: 1.2em;
        display: block;
        height: 100%;
        width: 100%;
        
    }

    &__img {
        height: 4em;
    }
}

// Testimonials + FAQ Section
.testimonial {
    @extend .section;
    text-align: left;
    width: 100%;

    @media screen and (min-width: $medium) {
        width: 48%;
    }

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }
}

// FAQ Section
.faq-section {
    @extend .section;
    text-align: left;
    padding-top: 0;

    @media screen and (min-width: $medium) {
        width: 48%;
        padding-top: 3em;
    }

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__list {
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0 0 1em;
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }
    }

    &__link {
        @include color(b);
        @include font(light);

        &:hover {
            text-decoration: underline;
        }
    }
}


// -----------------------------------------------
// -------  Datenschutz, AGB, Impressum  ---------
// -----------------------------------------------

.datagb {
    @include font(light);
    @extend .section;
    text-align: left;

    &__heading {
        @extend .subheading;
        margin-bottom: 1em;
    }

    &__link {
        @include color(primary);
        word-wrap: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        margin: 1em 0;
    }

    &__company {
        @include font(regular);
        font-size: 1.1em;
    }

    & p:last-of-type {
        margin-bottom: 0;
    }

    // To-Do

    &__subheading {
        @include font(regular);
        font-size: 1.2em;
    }

    &__subsubheading {
        @include color(primary);
        @include font(light);
        font-size: 1em;
    }
    
    &__list {
        list-style-type: inherit;

        &--ordered {
            list-style-type: decimal;
        }
    }

    &__item {
        &--ordered {
            padding-bottom: 1em;
            word-wrap: break-word;
        }
    }  
} // done


// -----------------------------------------------
// -------------------  FAQ  --------------------
// -----------------------------------------------

.faq {
    margin: 3em 0;
    text-align: left;
    width: inherit;
    margin: 3em auto;

    &__list {
        padding-left: 0;
        margin: 5em auto 0;
        min-height: 300px;
        width: 100%;

        @media screen and (min-width: $small) {
            width: 80%;
        }
    }

    &__category {
        @include color(primary);
        font-size: 1.2em;
        margin-top: 2em;        
    }

    &__item {
        margin: 0 0 1em;
        cursor: pointer;
        overflow: hidden;
        max-height: 20px;
        transition: max-height .7s ease-in-out;
    }

    &__link {
        @include font(light);
        @include color(dark);
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;

        @media screen and (min-width: $small) {
            max-width: 95%;
        }
        
        &:hover {
            @include color(b);
        }
    }

    &__answer {
        margin-top: 0.2em;

        a {
            @include color(primary);
            text-decoration: underline;
        }
    }
}

.collapsed {
    max-height: 450px !important;
}


// -----------------------------------------------
// -------------------  Shop  --------------------
// -----------------------------------------------


// Grid für Shop
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 2em 1em;
    margin: -3em auto 3em;

    @media screen and (min-width: $medium) {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    &__item {
        @include shadow(.16);
        height: 140px;
        transition: transform .3s ease, color .2s ease;

        @media screen and (min-width: $small) {
            height: 170px;
        }

        @media screen and (min-width: $medium) {
            height: 200px;
        }

        &:hover {
            @include color(primary);
            transform: scale(.95);
        }
    }

    &__link {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__image {
        display: block;
        width: 60%;
        padding: 0;
    }

    &__phoneframe {
        max-height: 75%;
        width: 100%;
        margin-bottom: -.6em;
    }

    &__more {
        @include color(primary);
        @include font(light);
        font-size: .9em;
    }
}
// Progressbar
.progressbar {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 2em auto 7em;

    &__step {
        max-width: 100px;
    }

    &__number {
        @include color(medium);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 48px;
        max-width: 48px;
        border-radius: 50%;
        display: grid;
        align-content: center;
        font-size: 1.4em;
        border: 2px solid map-get($map: $colors, $key: primary);

        &--active {
            @include color(primary, true);
            @include color(w);
            border: 0px;
            max-width: 52px;
            max-height: 52px;
        }
    }

    &__text {
        @include color(medium);
        @include font(light);
        text-align: center;
        margin-top: .5em;
    }

    &__divider {
        @include color(medium, true);
        height: 2px;
        width: 100%;
        margin-top: 1.5em;
        border-radius: 3px;
    }
}

// Divider
.divider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0 1em;

    &__line {
        @include color(medium, true);
        width: 30%;
        height: 1px;
    }

    &__text {
        @include font(light);
        @include color(medium);
        font-size: .8em;
    }
}