// -----------------------------------------------
// -------------  Pre Declarations  --------------
// -----------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$colors: (
    primary: #FF6C00,
    dark: #424242,
    medium: rgb(138, 138, 138),
    light: #D8D8D8,
    b: black,
    w: white,
    error-bg: rgba(255, 0, 0, 0.2),
    error: red
);

$fonts: (
    light: 300,
    regular: 400,
    bold: 700
);

$xxsmall: 415px;
$xsmall: 538px;
$small: 650px;
$small-medium: 750px;
$medium: 800px;
$large: 900px;
$xlarge: 1250px;
$xxlarge: 1920px;
$xxxlarge: 2560px;

@mixin font($weight) {
    font-weight: map-get($map: $fonts, $key: $weight);
} // done

@mixin shadow($black) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, $black);
} // done

@mixin flex($justify-content) {
    display: flex;
    justify-content: $justify-content;
} // done

@mixin color($color, $bg: false) {
    @if $bg {
        background-color: map-get($map: $colors, $key: $color);
    } @else {
        color: map-get($map: $colors, $key: $color);
    } 
} // done


// -----------------------------------------------
// -------------  General Styling  ---------------
// -----------------------------------------------

* {
//    outline: .5px dashed red;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: .6px;
    -webkit-font-smoothing: antialiased;
}  // done

a, a:visited {
    text-decoration: none;
    cursor: pointer;
} // done

ul {
    list-style-type: none;
} // done

h1, h2, h3, p {
    margin: 0;
} // done

.heading {
    @include font(bold);
    font-size: 2em;
    margin-bottom: .5em;

    @media screen and (min-width: $large) {
        text-align: left;
        font-size: 2.2em;
    }

    @media screen and (min-width: $xlarge) {
        font-size: 2.5em;
    }

    @media screen and (min-width: $xxxlarge) {
        font-size: 3.5em;
    }
} // done

.subheading {
    @include font(regular);
    font-size: calc(2em * .85);
    margin-bottom: .5em;

    @media screen and (min-width: $large) {
        font-size: calc(2.2em * .7);
    }

    @media screen and (min-width: $xlarge) {
        font-size: calc(2.5em * .7);
    }

    @media screen and (min-width: $xxxlarge) {
        font-size: calc(3.5em * .7);
    }
} // done

.subsubheading {
    @include font(regular);
    font-size: 1.2em;
} // done

.cta {
    @include font(regular);
    @include color(w);
    @include color(primary, true);
    @include shadow(.26);
    font-size: 1.1em;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;

    &:hover {
        transform: scale(0.95);
    }
} // done

.section {
    padding: 3em 0;
    text-align: left;
} // done

.content {
    margin: 0 auto;
    width: calc(100% - 20px);
} // done

.checkboxhack {
    position: absolute;
    opacity: 0;
} // done

// -----------------------------------------------
// -------------  Switcher Classes ---------------
// -----------------------------------------------

.hide-mobile {
    display: none;

    @media screen and (min-width: $large) {
        display: inherit;
    }
} // done

.hide-desktop {
    @media screen and (min-width: $medium) {
        display: none;
    }
} // done

.hide {
    display: none;
} // done


// -----------------------------------------------
// ------------------  Layout  -------------------
// -----------------------------------------------

header { 
    & .header {
        @include flex(space-between);
        max-width: 1400px;
        padding: 18px 0;
        margin: 0 auto;
    
        &__logo {
            height: 50px;
    
            @media screen and (min-width: $medium) {
                height: 80px;
            }
        }
    
        &__togglecontainer {
            display: block;
            height: 35px;
            width: 35px;
            user-select: none;
    
            @media screen and (min-width: $medium) {
                display: none;
            }
        }
    
        &__menutoggle {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            opacity: 0;
            z-index: 9;
            -webkit-touch-callout: none;
    
            &:checked ~ span {
                @include color(w, true);
                opacity: 1;
                transform: rotate(-45deg) translate(-5px, 5px);
            }
    
            &:checked ~ span ~ span {
                opacity: 0;
                transform: rotate(0) scale(0.2);
            }
    
            &:checked ~ span ~ span ~ span {
                @include color(w, true);
                opacity: 1;
                transform: rotate(45deg) translate(-6px, -6px);
            }
        }
    
        &__burgerline {
            @include color(b, true);
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            position: relative;
            top: 25%;
            border-radius: 4px;      
            z-index: 8;       
            transition: transform 0.5s ease,
                        background-color 0.3s ease,
                        opacity 0.55s ease;
        }
    
        &__list {
            @include color(dark, true);
            @include shadow(.26);
            position: fixed;
            width: 60%;
            top: -16px;
            right: 0;
            transform-origin: right;
            transform: translateX(105%);
            text-align: left;
            height: 100%;
            padding: 3em 0;
            transition: transform 0.4s ease;
    
            &--in {
                transform: translateY(0);
            }
    
            @media screen and (min-width: $medium) {
                margin: 0;
                padding: 0;
                box-shadow: none;
                background: none;
                position: inherit;
                display: flex;
                transform: translateY(0); 
            }
        }
    
        &__link {
            @include color(w);
            display: block;
            width: 100%;
            padding: 1em 2em;
            font-size: 1.3em;
            position: relative;
    
            @media screen and (min-width: $medium) {
                @include color(b);
                @include font(light);
                width: inherit;
                margin: 1em 0 0 2em;
                padding: 0;
                
                
                &:after {
                    @include color(dark, true);
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0%;
                    width: 0px;
                    height: 1px;
                    transition: all 0.5s ease;
                }
                
                &:hover:after {
                width: 100%;
                left: 0;
                }
            }
        }
    
        &__exitbtn {
            margin-bottom: 1em;
            margin-top: -1.5em;
            text-align: right;
            padding: 0 1.4em;
    
            & img {
                width: 20px;
                cursor: pointer;
            }
        }
    }
} // done

main {
    padding: 0;
    min-height: calc(100vh - 90px - 257px);
    
    @media screen and (min-width: $medium) {
        min-height: calc(100vh - 120px - 156px);
    }
} // done

footer {
    @include color(dark, true);
    display: block;
    
    & .footer {
        text-align: left;
        max-width: 1400px;
        margin: 0 auto;
        padding: 18px 0;

        @media screen and (min-width: $small) {
            @include flex(space-between);
            flex-wrap: wrap;
        }

        &__list {
            @include flex(flex-start);
            padding: 0;
            margin: 1em 0 2em;
            order: 2;
        }

        &__item {
            padding: 0 1em 0 0;
        }

        &__link {
            @include color(medium);
            @include font(light);
            cursor: pointer;
        }

        &__address {
            @include color(medium);
            @include font(light);
            order: 1;
            height: 63px;
        }

        &__company {
            @include color(light);
            display: block;
            font-size: 1.1em;
            padding: 0;
            margin-bottom: .3em;
        }

        &__credit {
            @include color(primary);
            @include font(light);
            @include flex(center);
            order: 3;
            width: 100%;
            font-size: .8em;
            padding: 38px 0;
            display: flex;
            justify-content: center;
            align-items: baseline;

            @media screen and (min-width: $small){
                padding: 3em 0 0;
            }
        }

        &__credit-links {
            @include color(primary);
            @include font(light);
            
            &:visited, &:active, &:focus, &:hover {
                @include color(primary);
            }
        }
    }
} // done

.container {
    padding-left: 18px;
    padding-right: 18px;
    text-align: center;
    margin: 0 auto;

    @media screen and (min-width: $small) {
        padding-left: 36px;
        padding-right: 36px;
    }
    
    &--small {
        max-width: 1100px;

        @media screen and (min-width: $large) {
            padding-left: 6em;
            padding-right: 6em;
        }
        @media screen and (min-width: $xlarge) {
            padding-left: 12em;
            padding-right: 12em;
        }        
    }

    &--wide {
        width: 100%;
    }

    &--heroimage {
        min-height: 519px;

        @media screen and (min-width: $medium) {
            min-height: 539px;
        }

        @media screen and (min-width: $large) {
            min-height: 428px;
        }

        @media screen and (min-width: $xlarge) {
            min-height: 404px;
        }

        @media screen and (min-width: $xxlarge) {
            min-height: 577px;
        }
        @media screen and (min-width: $xxxlarge) {
            min-height: 753px;
        }
    }

    &--brands {
        @include color(light, true);
        padding-left: 0;
        padding-right: 0;
    }

    &--dual {
        @include flex(space-between);
        flex-wrap: wrap;
    }

    &--fixed {
        @include color(medium, true);
        @include shadow(0.26);
        position: fixed;
        width: calc(100% - 36px);
        bottom: 0;

        @media screen and (min-width: $small) {
            width: calc(100% - 72px);
        }
    }
} // done

.hero {
    @extend .section;
    min-height: inherit;
    padding-top: 2em;
    text-align: center;

    &--nocontent {
        padding-bottom: 1em;
    }

    &__heading {
        @extend .heading;

        &--home {

            @media screen and (min-width: $medium) {
                padding-top: 2.5em;
            }
    
            @media screen and (min-width: $large) {
                padding-top: 2em;
            }
    
            @media screen and (min-width: $xlarge) {
                
            }
    
            @media screen and (min-width: $xxlarge) {
                padding-top: 3em;
                font-size: 3em;
            }

            @media screen and (min-width: $xxxlarge) {
                padding-top: 5em;
            }
        }
    }

    &__subheading {
        @include font(light);
        @include color(b);
        font-size: 1.3em;
        line-height: 24px;

        @media screen and (max-width: $xsmall){
            font-size: 1.1em;
        }

        @media screen and (min-width: $large) {
            text-align: left;
            max-width: 430px;
            font-size: 1.1em;

            & span {
                display: inline;
            }
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 470px;
            margin-bottom: 2.6em;
        }

        @media screen and (min-width: $xlarge) {
            font-size: 1.2em;
            max-width: 500px;
            line-height: 1.15em;
            margin-bottom: 2.6em;
        }
    }

    &__cta {
        @extend .cta;
        display: block;
        padding: .6em .4em;
        margin: 1.8em auto 0;
        width: 10em;

        @media screen and (min-width: $large) {
            margin-left: 0;
        }
        @media screen and (min-width: $xxxlarge) {
            width: 15em;
            font-size: 1.3em;
        }

        &--searchdevice {
            @include color(w);
            margin: 0 auto 1.8em;
            padding: .5em .2em;
            width: 8em;
            font-size: 1em;
        }
    }

    &__chronic {
        @include font(light);
        @include color(dark);
        text-align: left;
        max-width: 80%;
        margin-top: -.3em;
    }

    &__chroniclink {
        @include color(dark);
        font-size: .9em;

        &:hover {
            text-decoration: underline map-get($map: $colors, $key: medium);
        }
    }
} // done

.divider {
    @include color(light, true);
    border: none;
    height: 1px;
} // done


// -----------------------------------------------
// -------------------  Home  -------------------- 
// -----------------------------------------------

// Bestseller Section
.bestseller {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        grid-gap: 1em;
        justify-content: center;

        @media screen and (min-width: $small-medium) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }

        @media screen and (min-width: $large) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
        @media screen and (min-width: $xlarge) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
    }

    &__item {
        @include shadow(.26);
        @include flex(center);
        flex-direction: column;
        min-height: calc(259px - 2em);
        padding: 2em 0 1em;
        transition: transform .2s ease;
        cursor: pointer;
        position: relative;
        text-align: center;
        border-radius: 2px;

        &:hover {
            transform: scale(0.99);
        }
        
        &:last-child {
            box-shadow: none;
            transform: none; 
        }

        @media screen and (max-width: $large) {
            &:nth-child(n + 6):nth-last-child(n + 2) {
                display: none;
            }
        }
        @media screen and (min-width: $xlarge) {
            &:nth-child(n + 5):nth-last-child(n + 2) {
                display: none;
            }
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__img {
        max-width: 50%;
        margin: 0 auto .5em;
    }

    &__devicename {
        @include font(regular);
        @include color(b);
        margin: .3em 0 .1em;
        font-size: 1.5em;
    }

    &__repair {
        @include font(light);
        @include color(medium);
        margin-top: 0;
    }

    &__price {
        @include color(primary);
        @include font(regular);
        margin-top: 11px;
    }

    &__text {
        @include font(light);
        @include color(dark);
        margin-top: 2.8em;
        letter-spacing: .8px;
    }

    &__cta {
        @extend .cta;
        display: block;
        margin: 1em auto 3em;
        width: 60%;
        padding: .5em 1em;
    }
} // done

// Brands Section
.brands {
    @extend .container;
    @extend .container--small;
    @extend .section;

    &__heading {
        @extend .subheading;
        @include color(primary);
    }

    &__content {
        @extend .content;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(8em, 1fr));
        grid-gap: 1em;
        justify-content: space-between;

        @media screen and (min-width: $small-medium) {
            grid-template-columns: minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em) minmax(10em, 15em);
        }
    }

    &__item {
        @include shadow(.26);
        @include color(w, true);
        @include flex(center);
        flex-direction: column;
        min-height: 238px;
        width: 100%;
        cursor: pointer;
        transition: transform .2s ease;
        border-radius: 2px;

        &:hover {
            transform: scale(0.99);
        }

        &:last-child {
            @include flex(center);
            align-items: center;
        }

        &:nth-child(3) {
            & img {
                width: 75%;
            }
        }
    }

    &__link {
        @include color(primary);
        @include font(regular);
        font-size: 1.2em;
        display: block;
        height: 100%;
        width: 100%;
        
    }

    &__img {
        height: 4em;
    }
} // done

// Testimonials + FAQ Section
.testimonial {
    @extend .section;
    width: 100%;

    @media screen and (min-width: $medium) {
        width: 48%;
    }

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }
} // done

// FAQ Section
.faq-section {
    @extend .section;
    padding-top: 0;
    width: 100%;

    @media screen and (min-width: $medium) {
        width: 48%;
        padding-top: 3em;
    }

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__list {
        margin: 0;
        padding: 0;
        text-align: left;
    }

    &__item {
        margin: 0 0 1em;
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }
    }

    &__link {
        @include color(b);
        @include font(light);

        &:hover {
            text-decoration: underline;
        }
    }
} // done


// -----------------------------------------------
// -------  Datenschutz, AGB, Impressum  ---------
// -----------------------------------------------

.datagb {
    @include font(light);
    @extend .section;
    text-align: left;

    &__heading {
        @extend .subheading;
        margin-bottom: 1em;
    }

    &__link {
        @include color(primary);
        word-wrap: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        margin: 1em 0;
    }

    &__company {
        @include font(regular);
        font-size: 1.1em;
    }

    & p:last-of-type {
        margin-bottom: 0;
    }

    &__subheading {
        @include font(regular);
        font-size: 1.2em;
    }

    &__subsubheading {
        @include color(primary);
        @include font(light);
        font-size: 1em;
    }
    
    &__list {
        list-style-type: inherit;

        &--ordered {
            list-style-type: decimal;
        }
    }

    &__item {
        &--ordered {
            padding-bottom: 1em;
            word-wrap: break-word;
        }
    }  
} // done


// -----------------------------------------------
// ------------------ Search ---------------------
// -----------------------------------------------

.search {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__input {
        @include font(light);
        display: block;
        padding: .8em 1.6em;
        width: calc(100% - 3.2em);
        font-family: Roboto, sans-serif;
        font-size: 1em;
        border: 1px solid map-get($map: $colors, $key: primary);
        border-radius: 2px;
    
        &:focus {
            outline: none;
        }
    
        &--searchdevice {
            margin: 1.2em auto 1.5em;
            width: 80%;
    
            @media screen and (min-width: $small-medium) {
                width: 100%;
            }
        }
    }

    &__button {
        @extend .cta;
        width: 100%;
        height: 40px;
        margin: 1em auto 0;

        @media screen and (min-width: $xxsmall) {
            margin: 1em auto 0;
            max-width: 300px;
        }
    }
} // done


// -----------------------------------------------
// -------------------  FAQ  ---------------------
// -----------------------------------------------

.faq {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__subheading {
        @extend .subsubheading;
    }

    &__content {
        @extend .content;
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        margin: 1em 0 1em;
        cursor: pointer;
        overflow: hidden;
        max-height: 20px;
        transition: max-height .7s ease-in-out;
    }

    &__question {
        @include font(light);
        @include color(dark);
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;

        @media screen and (min-width: $small) {
            max-width: 95%;
        }
        
        &:hover {
            @include color(b);
        }
    }

    &__answer {
        margin-top: 0.2em;

        a {
            @include color(primary);
            text-decoration: underline;
        }

        ul {
            list-style-type: disc;
        }
    }
} // done

.collapsed {
    max-height: 450px !important;
} // done


// -----------------------------------------------
// -------------------  Shop  --------------------
// -----------------------------------------------

.grid {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        grid-gap: 2em 1em;

        @media screen and (min-width: 494px) {
            grid-template-columns: repeat(1, minmax(130px, 1fr) minmax(130px, 1fr) minmax(130px, 1fr));
        }

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(2, minmax(120px, 1fr) minmax(120px, 1fr) minmax(120px, 1fr));
        }

        // We need this because using 3 minmax in one repeat is not supported in firefox
        @-moz-document url-prefix() {
            // max-width / columns - grid-gap / columns
            // this is necessary, because there is one less grids than columns
            grid-template-columns: repeat(auto-fit, calc(100% / 3 - 2em / 3));

            @media screen and (min-width: $large) {
                grid-template-columns: repeat(auto-fit, calc(100% / 6 - 5em / 6)); 
            }
        }

        &--short {
            grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
        }

        &--repair {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        &--error {
            display: block;
        }
    }

    &__item {
        @include shadow(.16);
        border-radius: 2px;
        height: 140px;
        transition: transform .3s ease, color .2s ease;

        @media screen and (min-width: $small) {
            height: 170px;
        }

        @media screen and (min-width: $medium) {
            height: 200px;
        }

        &:hover {
            @include color(primary);
            transform: scale(.99);
        }

        &--repair {
            height: 350px;
            max-width: 200px;
        }
    }

    &__link {
        @include color(dark);
        @include font(regular);
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        outline: 2px solid transparent;
        transition: outline .3s ease;
    }

    &__image {
        display: block;
        width: 60%;
        max-height: 60%;
        padding: 0;

        &--repair {
            width: 70%;
        }
    }

    &__phoneframe {
        max-height: 75%;
        width: 100%;
        margin-bottom: -.6em;
    }

    &__more {
        @include color(primary);
        @include font(light);
        font-size: .9em;
    }

    &__input {
        @extend .checkboxhack;

        &:checked ~ label.grid__link {
            outline: 2px solid map-get($map: $colors, $key: primary);

            & > div.grid__button {
                @include color(medium, true);
    
                &::after {
                    content: "abwählen"
                }
            }
        } 
    }

    &__button {
        @extend .cta;
        border: none;
        width: 80%;
        height: 35px;
        margin-bottom: 1em;
        transition: background-color .3s ease;

        &:hover {
            transform: unset;
        }
        
        &:after {
            content: "auswählen";
        }
    }

    &__title {
        @include font(bold);
        @include color(b);
        margin-top: 1em;
        font-size: 1.2em;
    }
    &__price {
        @include font(light);
        font-size: 1.1em;
        width: 100%;
        text-align: center;
        margin-bottom: .4em;
    }
} // done

.progressbar {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 2em auto 0;

    &__step {
        max-width: 100px;
    }

    &__number {
        @include color(medium);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        max-height: 48px;
        max-width: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4em;
        border: 2px solid map-get($map: $colors, $key: primary);

        &--active {
            @include color(primary, true);
            @include color(w);
            border: 0px;
            max-width: 52px;
            max-height: 52px;
        }
    }

    &__text {
        @include color(medium);
        @include font(light);
        text-align: center;
        margin-top: .5em;
    }

    &__divider {
        @include color(medium, true);
        height: 2px;
        width: 100%;
        margin-top: 1.5em;
        border-radius: 3px;
    }
} // done


// -----------------------------------------------
// ------------------  Modell  -------------------
// -----------------------------------------------

.color {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
        @include flex(flex-start);
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 1.5em;
        transition: transform .3s ease;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    &__label {
        border: 2px solid white;
        height: 40px;
        width: 40px;
        display: block;
        border-radius: 50%;
        transition: border .2s ease;
    }

    &__circle {
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 50%;
        border: 1px solid #EDEDED;
    }

    &__input {
        @extend .checkboxhack;

        &:checked ~ label.color__label {
            border-color: map-get($map: $colors, $key: primary);
        }
    }

    &__name {
        @include font(light);
        margin-top: .8em;
        width: 100%;
        font-size: .9em;
    }
} // done

.form {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__textarea {
        width: calc(100% - 20px - 1.6em - 2px);
        height: 100px;
        resize: none;
        padding: .8em 1.6em;
        font-family: Roboto, sans-serif;
        font-size: 1em;
        border-radius: 3px;
        border: 1px solid map-get($map: $colors, $key: light);
        transition: border .3s ease, padding .3s ease;

        &:focus {
            border: 3px solid map-get($map: $colors, $key: primary);
            outline: none;
            padding: calc(.8em - 2px) calc(1.6em - 2px);
        }
    }

    &__error {
        @include color(error);
        @include color(error-bg, true);
        @include font(medium);
        margin-top: 0;
        margin-bottom: calc(2em * .85 * .5);
        padding: .5em 1em;
        border: 1px solid map-get($map: $colors, $key: error);
        border-radius: 2px;
        display: none;

        &--center {
            margin: 0 auto;
            width: calc(100% - 20px - 2em);
            text-align: center;
        }
    }
} // done

.price {

    &__content {
        margin: 0 auto;
        height: 3em;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__text {
        @include color(w);
        @include font(regular);
        font-size: 1.5em;
    }

    &__sub {
        @include font(light);
        font-size: .5em;
    }

    &__button {
        @extend .cta;
        border: none;
        padding: .4em 3em;
    }
} // done


// -----------------------------------------------
// ------------------  Order   -------------------
// -----------------------------------------------

.order {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__subheading {
        @extend .subsubheading;

        &--question {
            font-size: 1em;

            @media screen and (min-width: $large) {
                min-height: 2.6em;
            }
        }
    }

    &__content {
        @extend .content;

        &--deviceinfo {
            @include flex(flex-start);
        }

        &--address {
            @include flex(flex-start);
            flex-direction: column;
            flex-wrap: wrap;

            @media screen and (min-width: $medium) {
                flex-direction: row;
            }
        }

        &--questions {

            @media screen and (min-width: $large) {
                @include flex(space-between);
            }       
        }
    }

    &__image {
        @include shadow(0.26);
        width: 150px;
        height: 150px;
        margin-right: 2em;

        @media screen and (min-width: $large) {
            width: 250px;
            height: 250px;
        }
    }

    &__deviceinfo {
        // ...
    }

    &__devicename {
        @extend .subsubheading;
    }

    &__colorname {
        @include font(light);
        @include color(medium);
        margin: 1em 0;
    }

    &__color {
        @extend .color__label;
        @include color(b, true);
        margin-left: 1em;
    }

    &__list {
        margin: 0;
        padding: 0;

        &--total {

            @media screen and (min-width: $medium) {
                max-width: 50%;
                margin: 0 0 0 auto;
            }   
        }
    }

    &__item {
        @include flex(space-between);

        &:not(:last-child) {
            margin-bottom: .4em;
        }
    }

    &__text {
        @include font(light);
        @include color(dark);

        &--taxes {
            text-align: right;
            font-size: -.9em;
        }
    }

    &__textarea {
        @extend .form__textarea;
        width: calc(100% - 20px - 2em - 2px);
        @include font(light);
        @include color(dark);
    }

    &__address, &__contacts {
        margin-bottom: 1em;
        width: 50%;
    }

    &__shippinglabel {
        display: block;
        width: 100%;
        margin-top: 1em;
    }

    &__input {
        @extend .checkboxhack;

        &:checked ~ label.order__label span.order__checkbox span.order__innercheckbox {
            @include color(primary, true);
            display: inline-block;
            width: 90%;
            height: 90%;
            border-radius: 2px;
        }
    }

    &__checkbox {
        display: flex;
        justify-content: center;
        align-items: center; 
        text-align: center;
        min-width: 18px;
        height: 18px;
        border: 1px solid map-get($map: $colors, $key: medium);
        border-radius: 2px;
        margin-right: 1em;
    }

    &__label {
        @include font(light);
        display: flex;
        align-content: center;
    }

    &__divider {
        @extend .divider;

        @media screen and (min-width: $xlarge) {
            width: 25%;
            margin: 0 0 0 auto;
        }
    }

    &__total {
        @include font(bold);
        font-size: 1.1em;
        text-align: right;
        margin-top: .5em;
    }

    &__buttons {
        margin-top: 2em;
        width: 100%;

        @media screen and (min-width: $medium) {
            max-width: 330px;
            margin: 1.5em 0 0 auto;
        }
    }

    &__button {
        @extend .cta;
        border: none;
        height: 40px;
        width: 100%;
        
        &:not(:last-of-type) {
            margin-bottom: 1em;
        }

        &--primary {
            @include font(bold);
            font-size: 1.2em;
        }

        &--secondary {
            @include color(medium, true);
            font-size: 1em;
        }
    }

    &__link {
        @include color(primary);
        word-wrap: break-word;

        &:hover {
            text-decoration: underline;
        }
    }

    &__question {
        
        &:not(:first-of-type) {
            margin-top: 1em;
        }

        @media screen and (min-width: $large) {
            width: 30%;
            margin-top: 0 !important;
        }
    }
}


// -----------------------------------------------
// -----------------  Customer  ------------------
// -----------------------------------------------


.customer {
    @extend .section;

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;

        &--infosection {

            @media screen and (min-width: $xlarge) {
                @include flex(space-between)
            }
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        @media screen and (min-width: $xlarge) {
            max-width: 60%;
        }
    }

    &__inputwrapper {
        width: 100%;
        display: inline-block;

        &:not(:last-of-type) {
            margin-bottom: 1em;
        }

        @media screen and (min-width: $small-medium) {
            max-width: 49%;

            &--full {
                max-width: 100%;
            }
        }    
    }

    & sup {
        @include color(primary);
    }

    &__input {
        @include font(light);
        display: block;
        padding: .8em 1.6em;
        width: calc(100% - 3.2em - 6px);
        font-family: Roboto, sans-serif;
        font-size: 1em;
        border: 2px solid map-get($map: $colors, $key: light);
        border-radius: 3px;

        &:focus {
            border: 2px solid map-get($map: $colors, $key: primary);
            outline: none;
        }
    }

    &__buttonwrapper {
        width: 100%;
    }

    &__button {
        @extend .cta;
        @include font(bold);
        border: none;
        height: 40px;
        width: 100%;
        border-radius: 3px;

        @media screen and (min-width: $small-medium) {
            max-width: 48%;
        }
    }

    &__infowrapper {
        display: inline-block;
        padding-top: 1em;
        margin-top: 1em;

        @media screen and (min-width: $xlarge) {
            width: 36%;
            margin-top: 0;
        } 
    }

    &__text {
        &:not(:last-of-type) {
            margin-bottom: 1em;
        }
    }
}


// -----------------------------------------------
// -----------------  Success  -------------------
// -----------------------------------------------


.success {
    @extend .section;

    &--card {
        padding-top: 0;
    }

    &__heading {
        @extend .subheading;
    }

    &__content {
        @extend .content;
    }

    &__text {
        @include font(light);

        &--card {
            margin: 1em auto 1em;

            @media screen and (min-width: $xxsmall) {
                width: 65%;
                margin: 0;
                padding-top: 1em;
            }
        }
    }

    &__card {
        @include shadow(0.26);
        @include flex(space-between);
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 500px;
        padding: 1em;
    }

    &__image {
        margin: 0 auto;
        height: 100px;

        @media screen and (min-width: $xxsmall) {
            width: 25%;
            margin-left: 0;
        }
        
    }

    &__button {
        @extend .cta;
        @include font(bold);
        border: none;
        width: 100%;
        height: 40px;
        margin-top: 1em;
    }

    &__link {
        @include color(primary);
        word-wrap: break-word;

        &:hover {
            text-decoration: underline;
        }
    }
}