{% extends "_base.html" %}
{% from "macros.html" import render_field with context %}


{% block content %}
    <form action="#" method="POST" novalidate>
        {{ customer_data_form.hidden_tag() }}
        <div class="container container--small">
            <section class="hero hero--nocontent">
                <h1 class="hero__heading">Ihre Kontaktdaten</h1>
            </section>
        </div>

        <div class="container container--small">
            {% if customer_data_form.errors %}
            <p style="display: block;" class="form__error form__error--center">Es sind nicht alle Felder korrekt ausgefüllt.</p>
            {% endif %}
            <p id="Error0" class="form__error form__error--center">Es sind nicht alle Felder korrekt ausgefüllt.</p>
        </div>

        <div class="container container--small">
            <section class="customer">
                <h2 class="customer__heading">Persönliche Daten</h2>
                <div class="customer__content">
                    <div class="customer__inputs">
                        {{ render_field(customer_data_form.first_name, "customer__inputwrapper", "Ihren Vornamen") }}
                        {{ render_field(customer_data_form.last_name, "customer__inputwrapper", "Ihren Nachnamen") }}
                    </div>
                </div>
            </section>
        </div>

        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="customer">
                <h2 class="customer__heading">Ihre Adresse</h2>
                <div class="customer__content">
                    <div class="customer__inputs">
                        {{ render_field(customer_data_form.street, "customer__inputwrapper customer__inputwrapper--full", "Ihre Straße & Hausnummer") }}
                        {{ render_field(customer_data_form.zip_code, "customer__inputwrapper customer__inputwrapper--small", "Ihre Postleitzahl") }}
                        {{ render_field(customer_data_form.city, "customer__inputwrapper customer__inputwrapper--small", "Ihren Ort") }}
                    </div>
                </div>
            </section>
        </div>

        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="customer">
                <h2 class="customer__heading">Wie können wir Sie erreichen?</h2>
                <div class="customer__content customer__content--infosection">
                    <div class="customer__inputs">
                        {{ render_field(customer_data_form.email, "customer__inputwrapper", "eine gültige Email") }}
                        {{ render_field(customer_data_form.tel, "customer__inputwrapper") }}
                        {{ render_field(customer_data_form.tricoma_id, "customer__inputwrapper customer__inputwrapper customer__inputwrapper--small") }}
                        <div class="customer__buttonwrapper">
                            <button id="Submit" class="customer__button">Zur Bestellübersicht</button>
                        </div>
                    </div>
                    <div class="customer__infowrapper">
                        <p class="customer__text"><sup>*</sup> = Feld ist erforderlich</p>
                        <p class="customer__text">Ihre Adresse und Ihre Kontaktdaten werden einerseits zur Identifikation und Zuordnung verwendet und andererseits um Rückfragen für Sie möglichst bequem zu gestalten. </p>
                        <p class="customer__text">Über Ihre Mail-Adresse erhalten Sie zudem laufende Informationen zum Status Ihrer Reparatur.</p>
                    </div>
                </div>
            </section>
        </div>

    </form>
{% endblock %}