{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--datenschutz">
            <h1 class="hero__heading hero__heading--noheroimage">Allgemeine Geschäftsbedingungen</h1>
        </section>
    </div>

    <div class="container container--small">
        <section class="datagb">
            <h2 class="datagb__heading">§ 1 Geltungsbereich – Allgemeines</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Die Folgenden Allgemeinen Geschäftsbedingungen gelten für alle Geschäftsbeziehungen zwischen uns und dem Kunden. Unsere Allgemeinen Geschäftsbedingungen gelten ausschließlich; entgegenstehende oder von unseren Allgemeinen Geschäftsbedingungen abweichende Bedingungen unserer
                    Vertragspartner erkennen wir nicht an, es sei denn, wir haben ausdrücklich schriftlich ihrer Geltung zugestimmt. Unsere Allgemeinen Geschäftsbedingungen gelten auch dann, wenn wir in Kenntnis entgegenstehender oder von unseren Allgemeinen Geschäftsbedingungen abweichender
                    Bedingungen unseres Kunden vorbehaltlos leisten.
                </li>
                <li class="datagb__item datagb__item--ordered">Kunde im Sinne unserer Allgemeinen Geschäftsbedingungen sind sowohl Verbraucher als auch Unternehmer. Verbraucher im Sinne unserer Allgemeinen Geschäftsbedingungen sind natürliche Personen, mit denen in Geschäftsbeziehungen getreten wird, ohne dass diesen eine gewerbliche oder
                    selbstständige berufliche Tätigkeit zugerechnet werden kann. (§ 13 BGB)<br>
                    Unternehmer im Sinne unserer Allgemeinen Geschäftsbedingungen sind natürliche oder juristische Personen oder rechtsfähige Personengesellschaften, mit denen in Geschäftsbeziehungen getreten wird und die in Ausübung ihrer gewerblichen oder selbstständigen beruflichen Tätigkeit
                    handeln.
                </li>
                <li class="datagb__item datagb__item--ordered">Vertragspartner ist die Smartphoniker GmbH (Vertretungsberechtigte Gesellschafter: Benedikt Görges, Finn Vollstedt, Felix Vollstedt; Amtsgericht Kiel HRB 17855 KI; Telefonnummer: <a class="datagb__link" href="tel:4943190700390">+49 431 90700390</a>; E-Mail: <a
                        class="datagb__link" href="mailto: support@smartphoniker.de">support@smartphoniker.de</a>).
                </li>
            </ol>

            <h2 class="datagb__heading">§ 2 Vertragsschluss – Kostenvoranschlag</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Die Darstellung der Reparaturen und Produkte im Preiskalkulator stellt kein rechtlich bindendes Angebot, sondern eine Aufforderung zur Bestellung dar.</li>
                <li class="datagb__item datagb__item--ordered">Der Kunde gibt durch das Anklicken des Buttons [Bestellen] ein verbindliches Angebot für die auf der Bestellseite aufgelisteten Waren und/oder Dienstleistungen ab. Der Vertrag kommt zustande, wenn wir das Angebot des Kunden durch eine Auftragsbestätigung per E-Mail unmittelbar
                    nach dem Erhalt der Bestellung des Kunden annehmen.
                </li>
                <li class="datagb__item datagb__item--ordered">Sollte unsere Auftragsbestätigung Schreib- oder Druckfehler enthalten oder sollten unserer Preisfestlegung technisch bedingte Übermittlungsfehler zu Grunde liegen, so sind wir zur Anfechtung berechtigt, wobei wir dem Kunden unseren Irrtum beweisen müssen. Bereits erfolgte
                    Zahlungen werden dem Kunden unverzüglich erstattet.
                </li>
                <li class="datagb__item datagb__item--ordered">Gibt der Kunde ein Angebot zur Ermittlung der Ursache der Gebrauchsbeeinträchtigung ab, erfolgt der Vertragsschluss bezüglich der Fehleranalyse gem. § 2 Abs. 2. Wir verpflichten uns, die Ursache für die Gebrauchsbeeinträchtigung des Instandsetzungsgegenstands zu finden und diese
                    dem Kunden zusammen mit den voraussichtlichen Kosten einer Reparatur mitzuteilen. Die für die Fehleranalyse veranschlagten Kosten trägt der Kunde nur, wenn er sich entschließt die Instandsetzung nicht von uns durchführen zu lassen.
                </li>
                <li class="datagb__item datagb__item--ordered">Der Kostenvoranschlag stellt ein verbindliches Angebot von uns an den Kunden dar. An dieses Angebot sind wir zwei Wochen nach Abgabe gebunden. Der Vertragsschluss über einen Reparaturvertrag entsprechend den Bedingungen des Kostenvoranschlags erfolgt durch Annahme unseres
                    Angebots durch den Kunden.
                </li>
                <li class="datagb__item datagb__item--ordered">Die von uns erstellten Kostenvoranschläge sind für den Kunden unverbindlich, soweit nicht ausdrücklich etwas anderes schriftlich vereinbart ist. Die Preise sind Euro-Preise, wenn nicht anders angegeben, und verstehen sich inkl. Umsatzsteuer. Diese wird zum jeweils gültigen Satz
                    entsprechend den geltenden steuerrechtlichen Vorschriften noch gesondert aufgeführt.<br>
                    An Kostenvoranschlägen, Zeichnungen oder Unterlagen behalten wir uns Eigentums- und urheberrechtliche Verwertungsrechte uneingeschränkt vor.
                </li>
                <li class="datagb__item datagb__item--ordered">Wird nach Erstellung des Kostenvoranschlags eine Instandsetzung von dem Kunden ausdrücklich nicht gewünscht, ist der Instandsetzungsgegenstand, wenn Abholung vereinbart wurde, von dem Kunden innerhalb von 14 Tagen in unserer Filiale abzuholen. Wurde uns der
                    Instandsetzungsgegenstand durch einen Paketdienst zugestellt und ist keine Abholung vereinbart, wird der Instandsetzungsgegenstand, bei nicht Erteilung eines Auftrags, von uns an den Kunden versichert zurückgesendet. Die hierfür anfallenden Kosten tragen wir.
                </li>
                <li class="datagb__item datagb__item--ordered">Sollte die von dem Kunden bestellte Dienstleistung oder Reparatur des Instandsetzungsgegenstandes nicht der Behebung der tatsächlichen Ursache der Gebrauchsbeeinträchtigung dienen wird von uns nach Rücksprache mit dem Kunden eine Fehlersuche durchgeführt und das Ergebnis dieser
                    Suche dem Kunden mit den voraussichtlichen Kosten der Reparatur mitgeteilt. Dieser Kostenvoranschlag stellt dann ein neues Angebot unsererseits dar. Es gelten insoweit § 2 Abs. 3, 4, 5, 6 entsprechend.
                </li>
                <li class="datagb__item datagb__item--ordered">Stellen wir bei der Reparatur eines Instandsetzungsgegenstands weitere Mängel fest, welche zum Zeitpunkt der Erstellung des Kostenvoranschlags, trotz ausführlicher Prüfung, nicht ersichtlich waren und entstünden dem Kunden durch Behebung dieser Mängel Mehrkosten von mehr als 15%
                    der im Kostenvoranschlag aufgeführten Kosten, so informieren wir den Kunden umgehend über diesen Umstand und führen die Reparatur erst nach Absprache mit dem Kunden fort. Macht der Kunde hierauf hin von seinem Kündigungsrecht gem. § 650 I BGB Gebrauch, so hat der Kunde gem. § 645
                    I BGB die bis dahin entstandenen Kosten für Arbeitszeit und Material, sowie die Kosten für eine ggf. erforderliche Rücksendung des Instandsetzungsgegenstandes zu tragen.
                </li>
                <li class="datagb__item datagb__item--ordered">Nach der Annahme eines Reparaturauftrags leiten wir die Reparatur ein. Danach können Reparaturaufträge nicht mehr storniert werden. Du bist auch nicht berechtigt, vom Vertrag zurückzutreten. Wir können unter bestimmten Voraussetzungen dem Rücktritt zustimmen, den entstandenen
                    Aufwand berechnen wir Dir mit 20% der Reparatursumme oder mindestens 25 Euro.
                </li>
                <li class="datagb__item datagb__item--ordered">Sollte sich bei der Reparatur feststellen, dass ein weiterer Defekt vorliegt informieren wir Dich umgehend. Solltest Du die weitere Reparatur nicht wünschen, stornieren wir den Reparaturauftrag abzgl. einer Bearbeitungspauschale in Höhe von 25 Euro unabhängig vom Auftragswert.
                </li>
                <li class="datagb__item datagb__item--ordered">Das auf dem Auftrag festgehaltene voraussichtlich Fertigstellungsdatum ist unverbindlich und führt im Falle einer Verzögerung nicht zu einer Erstattung oder einer Stornierung des Auftrags.</li>
            </ol>

            <h2 class="datagb__heading">§ 3 Ausführung der Instandsetzung und Fehleranalyse</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Die Instandsetzung/Fehleranalyse erfolgt in unseren Geschäftsräumen, der Kunde hat den Instandsetzungsgegenstand rechtzeitig auf seine Kosten und Gefahr zuzusenden oder persönlich abzuliefern.</li>
                <li class="datagb__item datagb__item--ordered">Die Instandsetzung wird von uns unter Berücksichtigung der bei der Auftragserteilung festgelegten Arbeiten sorgfältig ausgeführt. Wir behalten uns jedoch vor, zusätzliche, bei Auftragserteilung nicht festgelegte Arbeiten vorzunehmen, sofern sie zur Wiedererreichung der vollen
                    Gebrauchsfähigkeit des Instandsetzungsgegenstandes oder der Durchführung der Instandsetzung erforderlich sind.
                </li>
                <li class="datagb__item datagb__item--ordered">Soweit es für die Instandsetzung/Fehleranalyse erforderlich ist benötigen wir Zugang zu kennwortgeschützten Bereichen des Instandsetzungsgegenstandes(Bios/Betriebssystem/etc.). Der Kunde ist zur Bereitstellung derartiger Kennwörter verpflichtet. Kommt der Kunde trotz Mahnung
                    seiner Mitwirkungspflicht nicht nach werden wir gem. § 642 I BGB eine angemessene Entschädigung geltend machen.
                </li>
                <li class="datagb__item datagb__item--ordered">Soweit es für die Instandsetzung/Fehleranalyse erforderlich ist werden wir Sicherungskopien der auf dem Instandsetzungsgegenstand befindlichen Daten erstellen. Der Kunde erklärt sich durch Erteilung des Auftrags mit der Erstellung solcher Sicherungskopien durch uns
                    einverstanden.
                </li>
                <li class="datagb__item datagb__item--ordered">Wir können nur Betriebssysteme/Software installieren soweit der Kunde über die entsprechenden Lizenzen verfügt. Wir gehen davon aus, dass die uns bereitgestellten Lizenzen des Kunden rechtmäßig erworben wurden. Für Urheberrechtsverletzungen/Softwarepiraterie trägt der Kunde die
                    volle Verantwortung.
                </li>
                <li class="datagb__item datagb__item--ordered">Eine Verpflichtung vor jeder Instandsetzung/Fehleranalyse die auf dem Instandsetzungsgegenstand befindlichen Daten zu sichern besteht für uns nicht, soweit nichts anderes schriftlich vereinbart ist. Der Kunde ist für die Sicherung seiner Daten selbst verantwortlich.</li>
                <li class="datagb__item datagb__item--ordered">Bei der Instandsetzung ausgebaute, oder ersetzte schadhafte Teile gehen in unser Eigentum über, soweit im Einzelfall nichts anderes vereinbart ist.</li>
            </ol>

            <h2 class="datagb__heading">§ 4 Versand</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Die Lieferung unserer Artikel und der instandgesetzten Gegenstände kann nur nach Deutschland erfolgen.</li>
                <li class="datagb__item datagb__item--ordered">Übernommene Gegenstände werden nach ihrer Instandsetzung von uns an die vom Kunden angegebene Lieferanschrift gesendet. Die Lieferung erfolgt mit DHL Express, DHL oder alternativ als Kuriersendung innerhalb Kiel + 20KM mit der Firma Speedy Transport.</li>
                <li class="datagb__item datagb__item--ordered">Eilkurierversand ist im Großraum Kiel möglich. Sofern deine Reparatur werktags bis spätestens 16:00 Uhr abgeschlossen ist und bezahlt wurde, erfolgt die Zustellung der Sendung noch am selben Tag. An Sonn- und gesetzlichen Feiertagen können wir diesen Service leider nicht
                    anbieten.
                </li>
                <li class="datagb__item datagb__item--ordered">Versandkosten: Eilkurier innerhalb Kiel + Schwentinental € 15,00; DHL Express (deutschlandweit) 15 Euro; DHL Deutschland (Reparaturen) Rückversand kostenlos. Bei einer Smartphoniker Reparatur, unabhängig von der Höhe des Bestellwertes und innerhalb Deutschlands, ist der normale
                    Rückversand jederzeit kostenfrei. Zubehör welches im Zuge einer Reparatur bestellt wird ist generell versandkostenfrei. Die Kosten für den Hinversand trägt der Kunde. Der Kunde kann sein Gerät auch persönlich während der allgemeinen Öffnungszeiten in der Filiale abgeben.
                </li>
                <li class="datagb__item datagb__item--ordered">Die Ware ist spätestens am Folgetag der erledigten Reparatur versandfertig. Sofern nicht anders mit dir vereinbart, erfolgt die Lieferung ab Lager am folgenden Werktag zwischen 8:00 und 16:00 Uhr an die von dir angegebene Lieferadresse. Die Lieferzeit beträgt bis zu 3 Werktage
                    bei bestellter Ware. Die Lieferzeit bei der Rücksendung von Instandsetzungsgegenständen beträgt 3 Werktage nach Fertigstellung der Reparatur. Auf eventuell abweichende Lieferzeiten weisen wir auf der jeweiligen Produktseite / Produkt hin.
                </li>
                <li class="datagb__item datagb__item--ordered">Wenn das bestellte Produkt nicht verfügbar ist, weil wir mit diesem Produkt von unserem Lieferanten ohne eigenes Verschulden nicht beliefert werden, können wir vom Vertrag zurücktreten. In diesem Fall werden wir den Kunden unverzüglich informieren und ihm ggf. die Lieferung eines
                    vergleichbaren Produktes vorschlagen. Wenn kein vergleichbares Produkt verfügbar ist oder der Kunde keine Lieferung eines vergleichbaren Produktes wünscht, werden wir dem Kunden ggf. die bereits erbrachte Gegenleistung unverzüglich erstatten.
                </li>
                <li class="datagb__item datagb__item--ordered">Ist der Kunde Verbraucher, so geht die Gefahr der zufälligen Verschlechterung oder des Untergangs des Gegenstandes im Zeitpunkt der Übergabe des Pakets auf den Kunden über. Ist der Kunde Unternehmer, so geht die Gefahr der zufälligen Verschlechterung oder des Untergangs des
                    Gegenstandes im Zeitpunkt der Übergabe von uns an den Paketdienst über.
                </li>
                <li class="datagb__item datagb__item--ordered">Verzögert sich die Versendung aufgrund eines vom Kunden zu vertretenden Umstands oder erfolgt die Versendung auf Wunsch des Kunden zu einem späteren als dem vereinbarten Fertigstellungstermin, so geht die Gefahr der zufälligen Verschlechterung oder des zufälligen Untergangs des
                    Gegenstandes durch unsere Mitteilung der Versandbereitschaft auf den Kunden über.
                </li>
                <li class="datagb__item datagb__item--ordered">Wenn Abholung vereinbart wurde, sind die instandgesetzten Gegenstrände innerhalb von 14 Tagen nach unserer Benachrichtigung abzuholen. Geschieht dies nicht, werden die Gegenstände, ohne Ankündigung, an den Kunden auf dessen Kosten und Gefahr zurückgesandt.</li>
                <li class="datagb__item datagb__item--ordered">Wenn der Instandsetzungsgegenstand nach wiederholtem Zustellungsversuch nicht zustellbar ist, und der Kunde den Instandsetzungsgegenstand nicht innerhalb von 6 Monaten abholt, setzen wir dem Kunden eine Nachfrist von 14 Tagen. Nach Verstreichen der Nachfrist geht der
                    Instandsetzungsgegenstand in unser Eigentum über. Einer Nachfristsetzung bedarf es nicht, falls der Kunde die Abholung bereits ernsthaft und endgültig verweigert hat, oder der Kunde unter der angegebenen Lieferanschrift nicht erreichbar ist.
                </li>
                <li class="datagb__item datagb__item--ordered">Retouren<br>
                    Bei Fragen oder weiteren Informationen zum Rückgabeverfahren wende dich bitte an unsere Service-Mitarbeiter:<br>
                    Service: &nbsp; <a class="datagb__link" href="tel:4943190700390">+49 431 90 700 390</a> <br>
                    E-Mail: &nbsp; &nbsp; <a class="datagb__link" href="mailto: support@smartphoniker.de">support@smartphoniker.de</a>
                </li>
            </ol>

            <h2 class="datagb__heading">§ 5 Sachmangelgewährleistung und Abnahme (Instandsetzung)</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Ansprüche wegen eines Sachmangels kann der Kunde innerhalb der gesetzlichen Frist von zwei Jahren gem. § 634 a Abs. 1 Nr. 1 BGB geltend machen. Die Verjährung beginnt mit der Abnahme gem. § 634 a Abs. 2 BGB zu laufen.</li>
                <li class="datagb__item datagb__item--ordered">Die Abnahme unserer Instandsetzungsleistung hat der Kunde unverzüglich nach Erhalt des Instandsetzungsgegenstandes vorzunehmen. Der Abnahme steht es gleich, wenn der Kunde nicht innerhalb von 14 Tagen nach Erhalt des Instandsetzungsgegenstandes abgenommen hat.</li>
                <li class="datagb__item datagb__item--ordered">Gegenüber Unternehmern ist die Sachmangelgewährleistung auf ein Jahr nach Abnahme beschränkt.</li>
                <li class="datagb__item datagb__item--ordered">Für die Laufzeit von Akkus, sowie für die Funktionalität vom Kunden gewünschter gebrauchter Ersatzteile übernehmen wir keine Gewähr.</li>
                <li class="datagb__item datagb__item--ordered">Im Falle des Vorliegens eines Sachmangels leisten wir zunächst nach unserer Wahl Gewähr durch Nachbesserung oder Neuherstellung. Für den Fall, dass die Nachbesserung oder Neuherstellung fehlschlägt/misslingt oder unmöglich ist, wir die Nacherfüllung ernsthaft und endgültig
                    verweigern, wir die Nacherfüllung aufgrund unverhältnismäßiger Kosten, aufgrund eines unverhältnismäßigen Aufwandes oder wegen Unzumutbarkeit der persönlichen Leistungserbringung verweigern, das Leistungsinteresse des Kunden wegen Verzögerung entfällt oder ihm die Nacherfüllung
                    nicht zumutbar ist, kann der Kunde nach seiner Wahl mindern oder vom Vertrag zurücktreten.
                </li>
            </ol>

            <h2 class="datagb__heading">§ 6 Sachmangelgewährleistung (Warenkauf)</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Die Sachmangelgewährleistung für gekaufte Waren erfolgt nach den gesetzlichen Bestimmungen.</li>
            </ol>

            <h2 class="datagb__heading">§ 7 Haftung/Datensicherung</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Der Kunde ist verpflichtet vor der Instandsetzung eine Datensicherung selbst durchzuführen, falls nichts anderes vereinbart wurde. Eine Reparatur oder Wartung kann immer zu Datenverlusten führen. Manchmal sind Daten nicht mehr wiederherstellbar oder werden beim Service gelöscht
                    oder neu formatiert. Daher liegt es in Deiner Verantwortung, die Daten, Software und/oder Programme auf Deinem Gerät mit einem Backup zu sichern und zu entscheiden, ob du bestimmte Daten vor der Servicedienstleistung von Deinem Gerät löschen möchtest. Smartphoniker haftet nicht
                    für den Verlust, die Wiederherstellung oder die Beschädigung von Daten, Software oder Programmen oder für etwaige Nutzungsausfälle von Geräten oder sonstigem Zubehör, die durch Serviceleistungen von Smartphoniker verursacht werden. Du bestätigst, dass Dein Produkt keine
                    ungesetzlichen Dateien oder Daten enthält. Du bestätigst, dass Dein Gerät zur Reparatur oder Wartung von einem Transportunternehmen an einen externen Dienstleister versendet werden darf. Wir empfehlen, dass Du ein Backup Deines Geräts erstellst und alle Daten darauf löscht, bevor
                    Du es zum Service gibst.
                </li>
                <li class="datagb__item datagb__item--ordered">Wir haften nicht für Schäden, die dadurch entstehen, dass der Kunde uns zur Instandsetzung notwendige Passwörter nicht rechtzeitig oder falsch zur Verfügung stellt.</li>
                <li class="datagb__item datagb__item--ordered">Desweiteren ist unsere Haftung auf vertragstypische allgemein vorhersehbare Schäden begrenzt. Wir haften nicht für Schäden, die auf ein Verhalten des Kunden zurückzuführen sind.</li>
                <li class="datagb__item datagb__item--ordered">Die Daten, welche sich auf den Speichermedien der Instandsetzungsgeräte befinden, werden streng vertraulich behandelt. Zur Instandsetzung/Fehleranalyse notwendige Datensicherungen werden von uns nach erfolgter Instandsetzung/Fehleranalyse umgehend gelöscht.</li>
                <li class="datagb__item datagb__item--ordered">Die Datenkommunikation über das Internet kann nach dem derzeitigen Stand der Technik nicht fehlerfrei und/oder jederzeit verfügbar gewährleistet werden. Wir haften insoweit weder für die ständige und ununterbrochene Verfügbarkeit unserer Website.</li>
            </ol>

            <h2 class="datagb__heading">§ 8 Preise und Zahlungsbedingungen</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Unsere Preise verstehen sich als Bruttopreise und enthalten die jeweilige anwendbare Mehrwertsteuer.</li>
                <li class="datagb__item datagb__item--ordered">Die Kosten für Verpackung und Rückversand von Instandsetzungsgegenständen tragen wir. Die Kosten für Verpackung und Versand von Ware in Höhe von 15,00 € bei Versand durch DHL Express und 15,00 € bei Versand durch Speedy, trägt der Kunde bis zu einem Warenwert von 200,00 €. Ab
                    einem Warenwert von mehr als 200 € tragen wir die Kosten für Verpackung und Versand der Ware.
                </li>
                <li class="datagb__item datagb__item--ordered">Der Kunde gerät nach Zustellung der Rechnung mit Ablauf von 14 Tagen, bei Fälligkeit unseres Anspruchs, mit der Zahlung in Verzug. Hierauf erfolgt eine Mahnung unsererseits. Der Kunde hat uns daraufhin alle Verzugsschäden, sowie Unkosten die hierdurch entstehen zu ersetzen.</li>
                <li class="datagb__item datagb__item--ordered">Die Zahlung erfolgt per Vorkasse oder bei B2B Kunden, ab der zweiten Bestellung auf Rechnung.</li>
                <li class="datagb__item datagb__item--ordered">Der Kunde hat zur Schuldbefreiung den fälligen Betrag auf das von uns angegebene Konto zu überweisen.</li>
                <li class="datagb__item datagb__item--ordered">Bei Auswahl der Vorkasse liefern wir die Ware erst bei Zahlungseingang.</li>
            </ol>

            <h2 class="datagb__heading">§ 9 Eigentumsvorbehalt</h2>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Alle von uns eingebauten und nicht untrennbar mit dem Instandsetzungsgegenstand verbundenen Ersatzteile bleiben bis zur vollständigen Preisentrichtung in unserem Eigentum.</li>
            </ol>

            <h2 class="datagb__heading">§ 10 Widerrufsrecht</h2>
            <p class="datagb__text">Verbraucher haben ein vierzehntägiges Widerrufsrecht.</p>
            <p class="datagb__text">Widerrufsbelehrung</p>
            <p class="datagb__text">Widerrufsrecht:&nbsp;Der Kunde kann seine Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. Brief, Email) oder – wenn ihm die Sache vor Fristablauf überlassen wird – auch durch Rücksendung der Sache widerrufen. Die Frist beginnt nach Erhalt dieser
                Belehrung in Textform, jedoch nicht vor Eingang der Ware beim Empfänger und auch nicht vor Erfüllung unserer Informationspflichten gemäß Art. 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312g Abs. 1 S. 1 BGB in Verbindung mit Art. 246 § 3 EGBGB.
                Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs oder der Sache.</p>
            <p class="datagb__text">Der Widerruf ist zu richten an:<br>
                Smartphoniker GmbH<br>
                Geschäftsführer: Benedikt Görges, Finn Vollstedt, Felix Vollstedt<br>
                Lise-Meitner-Straße 6<br>
                24223 Schwentinental<br>
                E-Mail: <a class="datagb__link" href="mailto: support@smartphoniker.de">support@smartphoniker.de</a></p>
            <p class="datagb__text">Widerrufsfolgen:&nbsp;Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogenen Nutzungen herauszugeben. Kann der Kunde uns die empfangenen Leistungen sowie Nutzungen nicht oder teilweise nicht oder nur im verschlechterten
                Zustand zurückgewähren beziehungsweise herausgeben, ist der Kunde uns insoweit zum Wertersatz verpflichtet. Für die Verschlechterung der Sache muss der Kunde nur Wertersatz leisten, soweit die Verschlechterung auf einen Umgang mit der Sache zurückzuführen ist, der über die Prüfung
                der Eigenschaften und der Funktionsweise hinausgeht. Unter „Prüfung der Eigenschaften und der Funktionsweise“ versteht man das Testen und Ausprobieren der jeweiligen Ware, wie es etwa im Ladengeschäft möglich und üblich ist. Paketversandfähige Sachen sind auf unsere Kosten und Gefahr
                zurückzusenden. Nicht paketversandfähige Sachen werden beim Kunden abgeholt. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für den Kunden mit Absendung seines Widerrufs oder der Sache, für uns mit dem Empfang zu
                laufen.</p>
            <p class="datagb__text">Ende der Widerrufsbelehrung</p>
            <p class="datagb__text">Das Widerrufsrecht besteht nicht bei Lieferung von Waren, die nach Kundenspezifikationen angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind oder bei Lieferung von Software, sofern die gelieferten Datenträger von dir entsiegelt worden sind.</p>
            <p class="datagb__text">
            <h2 class="datagb__heading">§ 11 Schlussbestimmungen</h2></p>
            <ol class="datagb__list datagb__list--ordered">
                <li class="datagb__item datagb__item--ordered">Für sämtliche Geschäftsbeziehungen zwischen uns und unseren Kunden gilt das deutsche Recht.</li>
                <li class="datagb__item datagb__item--ordered">Ist unser Kunde Kaufmann oder juristische Person des öffentlichen Rechts ist ausschließlicher Gerichtsstand die Stadt Kiel.</li>
                <li class="datagb__item datagb__item--ordered">Sollte eine Regelung unserer Allgemeinen Geschäftsbedingungen rechtswidrig sein oder werden, so wird hiervon die Wirksamkeit der übrigen Allgemeinen Geschäftsbedingungen nicht berührt.</li>
                <li class="datagb__item datagb__item--ordered">Smartphoniker darf sich Dritter, insbesondere verbundener Unternehmen als Erfüllungsgehilfen bei der Erfüllung ihrer Leistungsverpflichtungen bedienen.</li>
            </ol>
            <p class="datagb__text">Vertragstext</p>
            <p class="datagb__text">Der Vertragstext wird auf unseren internen Systemen gespeichert. Die Allgemeinen Geschäftsbedingungen kannst du jederzeit auf dieser Seite einsehen. Auf Wunsch händigen wir diese gerne aus.</p>
            <p class="datagb__text">
            <h2 class="datagb__heading">§ 12 Aufbewahrungsfrist</h2></p>
            <p class="datagb__text">Mit Überlassung der Reparaturware verpflichtet sich der Auftraggeber zur Abholung der reparierten Produkte nach Fertigstellung innerhalb von 3 Monaten. Bei Nichteinhaltung dieser Frist erfolgt eine Aufforderung zur Abholung unter Mitteilung einer Nachfrist von weiteren 2 Wochen. Nach
                Ablauf der Nachfrist sind wir berechtigt, die Reparaturware freihändig zu veräußern und aus dem erzielten Erlös die Reparaturkosten sowie entstandene Lager- und Veräußerungskosten auszugleichen. Ein Differenzbetrag wird dem Auftraggeber entsprechend nachbelastet oder
                gutgeschrieben.</p>
        </section>
    </div>

{% endblock %}
