{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero">
            <h1 class="hero__heading">Alle Hersteller</h1>
            <p class="hero__chronic hide-mobile">
                <a class="hero__chroniclink" href="{{ url_for('main.manufacturer') }}">Hersteller auswählen</a> >
                <a class="hero__chroniclink" href="{{ url_for('main.series', manufacturer_name=manufacturer) }}">Serie auswählen</a>
            </p>
            <div class="progressbar">
                <div class="progressbar__step">
                    <div class="progressbar__number progressbar__number--active">1</div>
                    <div class="progressbar__text">Hersteller wählen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP2" class="progressbar__number progressbar__number--active">2</div>
                    <div class="progressbar__text">Modellreihe bestimmen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP3" class="progressbar__number progressbar__number--active">3</div>
                    <div class="progressbar__text">Gerät auswählen</div>
                </div>
            </div>
        </section>
    </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Modell wählen</h2>
            <div class="grid__content grid__content--longlist">
                {% for device in devices %}
                    <div class="grid__item">
                        <a class="grid__link" href="{{ url_for('main.model', manufacturer_name=manufacturer, series_name=series, device_name=device.name) }}">
                            {% if device.get_image() %}
                                <img class="grid__image" src="{{ device.get_image_path() }}" alt="{{ device.name }} auswählen">
                            {% endif %}
                            <div class="grid__image">{{ device.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if not devices|length %}
                {# No repairs #}
                {# TODO stylen #}
                <h3>Aktuell bieten wir keine Reparatruen für diesen Serie an + Zurück buttun</h3>
            {% endif %}

        </section>
    </div>
{% endblock %}