{% extends "_base.html" %}
{% block meta %}
    {% set name_string = device_names|join(", ") %}
    <meta name="description" content="{{ name_string }} in Kiel, Schwentinental, Lübeck bei ▷ Smartphoniker ✓alle Modelle ✓beste Qualität ✓schneller Service ✓ohne Termin ✆ kostenlose Beratung.">
    <meta property="og:title" content="{{ name_string }} Smartphone Reparatur Kiel, Schwentinental, Lübeck | Smartphoniker">
    <meta property="og:description" content="{{ name_string }} bei ▷ Smartphoniker ✓alle Modelle ✓beste Qualität ✓schneller Service ✓ohne Termin ✆ kostenlose Beratung.">
    <meta property="og:site_name" content="Smartphoniker - Ihr Service Partner für Smartphone, Tablet oder PC">

    <meta name="twitter:description" content="{{ name_string }} bei ▷ Smartphoniker ✓alle Modelle ✓beste Qualität ✓schneller Service ✓ohne Termin ✆ kostenlose Beratung.">
    <meta name="twitter:title" content="{{ name_string }} Kiel, Schwentinental, Lübeck | Smartphoniker">
{% endblock %}

{% block content %}
    <div class="container container--small">
        <section class="hero">
            <h1 class="hero__heading">Alle Hersteller</h1>
            <p class="hero__chronic hide-mobile">
                <a class="hero__chroniclink" href="{{ url_for('main.manufacturer') }}">Hersteller auswählen</a> >
                <a class="hero__chroniclink" href="{{ url_for('main.series', manufacturer_name=manufacturer) }}">Serie auswählen</a>
            </p>
            <div class="progressbar">
                <div class="progressbar__step">
                    <div class="progressbar__number progressbar__number--active">1</div>
                    <div class="progressbar__text">Hersteller wählen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP2" class="progressbar__number progressbar__number--active">2</div>
                    <div class="progressbar__text">Modellreihe bestimmen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP3" class="progressbar__number progressbar__number--active">3</div>
                    <div class="progressbar__text">Gerät auswählen</div>
                </div>
            </div>
        </section>
    </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Modell wählen</h2>
            <div class="grid__content grid__content--longlist">
                {% for device in devices %}
                    <div class="grid__item">
                        <a class="grid__link" href="{{ url_for('main.model', manufacturer_name=manufacturer, series_name=series, device_name=device.name) }}">
                            {% if device.get_image() %}
                                <img class="grid__image" src="{{ device.get_image_path() }}" alt="{{ device.name }} auswählen">
                            {% endif %}
                            <div class="grid__image">{{ device.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if not devices|length %}
                <p class="grid__nodevices">Aktuell bieten wir keine Festpreise für Reparaturen dieser Serie an. Melden Sie sich gerne bei unserem <a class="grid__link grid__link--inline" href="">Kundenservice</a>, wenn Sie an einer Reparatur interessiert sind.</p>
                <a class="grid__back" href="{{ url_for('main.series', manufacturer_name=manufacturer) }}">zurück zu den Serien</a>
            {% endif %}

        </section>
    </div>
{% endblock %}