{% extends "_base.html" %}
{% block content %}
<div class="container container--small">
      <section class="hero">
          <h1 class="hero__heading">Alle Hersteller</h1>
          <p class="hero__chronic hide-mobile">
              <a class="hero__chroniclink" href="{{ url_for('main.shop') }}">Shop</a>  >  <a class="hero__chroniclink" href="../">Hersteller auswählen</a>
          </p>
          <div class="progressbar">
              <div class="progressbar__step">
                  <div class="progressbar__number progressbar__number--active">1</div>
                  <div class="progressbar__text">Hersteller wählen</div>
              </div>
              <div class="progressbar__divider"></div>
              <div class="progressbar__step">
                  <div id="STEP2" class="progressbar__number progressbar__number--active">2</div>
                  <div class="progressbar__text">Modellreihe bestimmen</div>
              </div>
              <div class="progressbar__divider"></div>
              <div class="progressbar__step">
                  <div id="STEP3" class="progressbar__number progressbar__number--active">3</div>
                  <div class="progressbar__text">Gerät auswählen</div>
              </div>
          </div>
      </section>
  </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Hersteller wählen</h2>
            <div class="grid__content grid__content--longlist">
                {% for device in devices %}
                    <div class="grid__item">
                        <a class="grid__link" href="{{ url_for('main.modell', manufacturer_name=manufacturer, series_name=series, device_name=device.name.replace(' ', '%')) }}">
                            {% if device.image %}
                                <img class="grid__image" src="{{ device.get_image_path() }}" alt="{{ device.name }} auswählen">
                            {% else %}
                                <div>{{ device.name }}</div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            </div>
            
        </section>
    </div>
{% endblock %}