{% extends "_base.html" %}
{% block content %}
    <style>
        body {
            background-repeat: no-repeat;
            background-image: url("{{ url_for('static', filename='images/heroimage.jpg') }}");
            background-size: 800px;
            background-position: top;
        }

        @media screen and (min-width: 650px) {
            body {
                background-position-y: inherit;
            }
        }

        @media screen and (min-width: 800px) {
            body {
                background-size: 900px;
                background-position-y: -3%;
            }
        }

        @media screen and (min-width: 900px) {
            body {
                background-image: url("{{ url_for('static', filename='images/heroimage-wide.jpg') }}");
                background-size: 1920px;
                background-position-y: inherit;
                background-position-x: 62%;
                max-height: none;
            }
        }

        @media screen and (min-width: 1250px) {
            body {
                background-position-y: -2%;
            }
        }

        @media screen and (min-width: 1920px) {
            body {
                background-size: 2560px;
                background-position-y: -5%;
            }
        }

        @media screen and (min-width: 2560px) {
            body {
                background-size: 3440px;
                background-position-y: -15%;
            }
        }
    </style>
    <div class="container container--small container--heroimage">
        <section class="hero">
            <h1 class="hero__heading hero__heading--home">Professionelle&thinsp;Handy-Reparatur</h1>
            <p class="hero__subheading">
                Bildschirm kaputt? Akku schwach? <br class="hide-desktop">
                Niemand versteht dich mehr? <br class="hide-desktop">
                Kein Problem, lass das den <br class="hide-desktop">
                Smartphoniker machen! <br class="hide-desktop">
                <span class="hide-mobile">Wir reparieren dein Handy in
                        sehr kurzer Zeit. Egal ob iPhone, Samsung, Huawei
                        oder ganz was anderes. Hier bist du richtig!</span>
            </p>
            <a class="hero__cta" href="{{ url_for('main.manufacturer') }}">Gerät auswählen</a>
        </section>
    </div>

    <div class="container container--small ">
        <section class="bestseller">
            <h2 class="bestseller__heading">Top Geräte</h2>
            <div class="bestseller__content">
                <ul class="bestseller__list">
                    {% for seller in bestseller %}
                        <li class="bestseller__item">
                            <img class="bestseller__img" src="{{ seller.get_image_path() }}" alt="{{ seller.name }}">
                            <a class="bestseller__link" href="{{ url_for('main.model', manufacturer_name=seller.manufacturer.name, series_name=seller.series.name, device_name=seller.name) }}">
                                <h3 class="bestseller__devicename">{{ seller.name }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                    <li class="bestseller__item">
                        <p class="bestseller__text">Dein Gerät ist <br> nicht dabei?</p>
                        <a class="bestseller__cta" href="{{ url_for('.manufacturer') }}">Alle ansehen</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <div class="container container--wide container--brands">
        <section class="brands">
            <h2 class="brands__heading">Spezialist für:</h2>
            <div class="brands__content">
                <ul class="brands__list">
                    {% for manu in specialist_manufacturers %}
                        <li class="brands__item">
                            <a class="brands__link" href="{{ url_for('main.series', manufacturer_name=manu.name) }}">
                                {% if manu.get_image_path() %}
                                    <img class="brands__img" src="{{ manu.get_image_path() }}" alt="show {{ manu.name }} devices">
                                {% else %}
                                    {{ manu.name }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="brands__item"><a class="brands__link" href="{{ url_for('main.manufacturer') }}">Viele<br>mehr</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="container container--small container--dual">
        <section class="testimonial">
            <h2 class="testimonial__heading">Das sagen Kunden</h2>
            <div class="testimonial__content">
                <img class="testimonial__img" src="{{ url_for('static', filename="images/googleratingplaceholder.png") }}" alt="Google Bewertungen">
            </div>
        </section>
        <section class="faq-section">
            <h2 class="faq-section__heading">FAQ</h2>
            <div class="faq-section__content">
                <ul class="faq-section__list">
                    <li class="faq-section__item"><a class="faq-section__link" href="{{ url_for('.faq', q=15) }}">Wie lange dauert die Reparatur?</a></li>
                    <li class="faq-section__item"><a class="faq-section__link" href="{{ url_for('.faq', q=13) }}">Benutzt ihr Originale Ersatzteile?</a></li>
                    <li class="faq-section__item"><a class="faq-section__link" href="{{ url_for('.faq', q=26) }}">Gibt es eine Garantie auf die Reparatur?</a></li>
                    <li class="faq-section__item"><a class="faq-section__link" href="{{ url_for('.faq', q=7) }}">Welche Bezahlungsmethoden gibt es?</a></li>
                    <li class="faq-section__item"><a class="faq-section__link" href="{{ url_for('.faq', q=27) }}">Was ist, wenn ich nach der Reparatur Probleme habe?</a></li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
