{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--datenschutz">
            <h1 class="hero__heading">Impressum</h1>
        </section>
    </div>

    <div class="container container--small">
        <section class="datagb">
            <h3 class="datagb__heading">Verantwortlich</h3>
            <p><strong>Smartphoniker GmbH</strong> <br> Lise-Meitner-Straße 6 <br>24223 Schwentinental <br> Deutschland</p>
            <p>Tel. <a class="datagb__link" href="tel: 4943190700390">+49 431 90 700 390</a> <br> E-Mail: <a class="datagb__link" href="mailto: info@smartphoniker.de">info@smartphoniker.de</a></p>
            <p>Geschäftsführende Gesellschafter: <br>Felix Vollstedt, Finn Vollstedt, Benedikt Görges</p>
            <p>Amtsgericht Kiel, HRB 17855 KI <br> Umsatzsteuer-ID: DE306739068</p>
            <p>Verantwortlicher Ansprechpartner für diese Website: Benedikt Görges</p>
            <p>Hier erreichen Sie die Plattform der EZ zur außergerichtlichen Online-Streitbeilegung: <br> <a class="datagb__link" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a></p>
        </section>
    </div>
{% endblock %}
