{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--nocontent">
            <h1 class="hero__heading">Impressum</h1>
        </section>
    </div>

    <div class="container container--small">
        <section class="datagb">
            <h2 class="datagb__heading">Verantwortlich</h3>
            <p class="datagb__text"><strong class="datagb__company">Smartphoniker GmbH</strong> <br> Lise-Meitner-Straße 6 <br>24223 Schwentinental <br> Deutschland</p>
            <p class="datagb__text">
                Tel. <a class="datagb__link" href="tel: 4943190700390">+49 431 90 700 390</a><br> 
                E-Mail: <a class="datagb__link" href="mailto: info@smartphoniker.de">info@smartphoniker.de</a>
            </p>
            <p class="datagb__text">Geschäftsführende Gesellschafter: <br> Felix Vollstedt, Benedikt Görges</p>
            <p class="datagb__text">Amtsgericht Kiel, HRB 17855 KI <br> Umsatzsteuer-ID: DE306739068</p>
            <p class="datagb__text">Verantwortlicher Ansprechpartner für diese Website: Benedikt Görges</p>
            <p class="datagb__text">
                Hier erreichen Sie die Plattform der EZ zur außergerichtlichen Online-Streitbeilegung: <br> 
                <a class="datagb__link" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>
            </p>
        </section>
    </div>
{% endblock %}
