{% extends "_base.html" %}
{% block content %}
<div class="container container--small">
      <section class="hero hero--datenschutz">
          <h1 class="hero__heading">Hersteller auswählen</h1>
          <p class="hero__chronic hide-mobile">
              <a class="hero__chroniclink" href="../">Shop > </a>    
          </p>
          <div class="progressbar">
              <div class="progressbar__step">
                  <div class="progressbar__number progressbar__number--active">1</div>
                  <div class="progressbar__text">Hersteller wählen</div>
              </div>
              <div class="progressbar__divider"></div>
              <div class="progressbar__step">
                  <div id="STEP2" class="progressbar__number">2</div>
                  <div class="progressbar__text">Modellreihe bestimmen</div>
              </div>
              <div class="progressbar__divider"></div>
              <div class="progressbar__step">
                  <div id="STEP3" class="progressbar__number">3</div>
                  <div class="progressbar__text">Gerät auswählen</div>
              </div>
          </div>
      </section>
  </div>

    <div class="container container--small">
        <section class="grid">
            {% for manu in manufacturers %}
                <div class="grid__item">
                    <a class="grid__link" href="#">
                        {% if manu.image %}
                            <img class="grid__image" src="{{ manu.get_image_path() }}" alt="{{ manu.name }} auswählen">
                        {% else %}
                            <div>{{ manu.name }}</div>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
