{% extends "_base.html" %}
{% block content %}
<form action="" method="GET">
    <div class="container container--small">
        <section class="hero hero--nocontent">
            <h1 class="hero__heading">{{ device.name}}</h1>
            <p class="hero__chronic hide-mobile">
                <a class="hero__chroniclink" href="{{ url_for('main.shop') }}">Shop</a> > <a class="hero__chroniclink" href="">Samsung</a> > <a class="hero__chroniclink" href="">S-Serie</a> > <a class="hero__chroniclink" href="">Galaxy S9</a>
            </p>
        </section>
    </div>

    <div class="container container--small">
        <section class="color" id="Color">
            <h2 class="color__heading">Farbe wählen</h2>
            <div class="color__content">
                {% for color_id, color in repair_form.color.choices %}
                <span class="color__item">
                    <input class="color__input" id="{{ color.name.replace(' ', '_') }}" name="color" value="{{ color_id }}" type="radio" checked>
                    <label class="color__label color__label--active" for="{{ color.name.replace(' ', '_') }}">
                        <div style="background-color: {{ color.color_code }};" class="color__circle"></div>
                    </label>
                </span>

                {% endfor %}
                <span id="ColorName" class="color__name"></span>
            </div>
        </section>
    </div>

    <div class="container container--small">
        <hr class="divider">
    </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Defekt wählen</h2>
            <div class="grid__content grid__content--repair">
                {% for repair_id, repair in repair_form.repairs.choices %}
                    <div class="grid__item grid__item--repair">
                        <input id="{{ repair.name.replace(' ', '_') }}" value="{{ repair.price }}" class="grid__input" type="checkbox" name="repair">
                        <label class="grid__link" for="{{ repair.name.replace(' ', '_') }}">
                            <div class="grid__title">{{ repair.name }}</div>
                            {% if repair.image %}
                                <img class="grid__image grid__image--repair" src="{{ repair.get_image_path() }}" alt=" auswählen">
                            {% endif %}
                            <div class="grid__price"><span class="repairPrice">{{ repair.price }}</span> EUR</div>
                            <div class="grid__button" type="button"></div>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    <div class="container container--small">
        <hr class="divider">
    </div>

    <div class="container container--small">
        <section class="form">
            <h2 class="form__heading"><label for="Description">Problembeschreibung</label></h2>
            <div class="form__content">
                <textarea id="Description" class="form__textarea" name="problembeschreibung" placeholder="(optional) Beschreiben Sie ihre Schwierigkeiten so genau wie möglich"></textarea>
            </div>
        </section>
    </div>

    <div class="container container--fixed">
        <div class="price">
            <div class="price__content">
                <span class="price__text"><span id="Total">0</span> EUR <sub class="price__sub">inkl. MwSt.</sub></span>
                <button class="price__button" type="submit">Weiter</button>
            </div>
        </div>
    </div>


</form>
{% endblock %}