{% extends "_base.html" %}
{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="container container--small">
            <section class="hero hero--nocontent">
                <h1 class="hero__heading">Bestellübersicht</h1>
            </section>
        </div>

        <div class="container container--small">
            <section class="order">
                <h2 class="order__heading">Ihr Smartphone</h2>
                <div class="order__content order__content--deviceinfo">
                    <img class="order__image" src="{{ device.get_image_path() }}" alt="{{ device.name }}">
                    <div class="order__deviceinfo">
                        <p class="order__devicename">{{ device.name }}</p>
                        <p class="order__colorname">{{ color.name }}</p>
                        <label class="color__label color__label--active" for="{{ color.name.replace(' ', '_') }}">
                            <div style="background-color: {{ color.color_code }};" class="color__circle"></div>
                        </label>
                    </div>
                </div>
            </section>
        </div>


        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="order">
                <h2 class="order__heading">Gewünschte Reparaturen</h2>
                <div class="order__content">
                    <ul class="order__list">
                        {% for repair in repairs %}
                            <li class="order__item">
                                <span class="order__text">{{ repair.name }}</span>
                                <span class="order__text">{{ repair.price }}</span>
                            </li>
                        {% endfor %}
                        {% if discount %}
                            <li class="order__item">
                                <span class="order__text">Rabatt</span>
                                <span class="order__text">-{{ discount }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>


        {% if problem_description %}
            <div class="container container--small">
                <hr class="divider">
            </div>
            <div class="container container--small">
                <section class="order">
                    <h2 class="order__heading"><label for="Issue">Ihre Problembeschreibung</label></h2>
                    <div class="order__content">
                        <textarea id="Issue" class="order__textarea" readonly>{{ problem_description }}</textarea> {# TODO: Erstmal nur Read only #}
                    </div>
                </section>
            </div>
        {% endif %}

        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="order">
                <h2 class="order__heading">Ihre Anschrift & Kontaktdaten</h2>
                <div class="order__content order__content--address">
                    <div class="order__address">
                        <p class="order__text">{{ customer.first_name }} {{ customer.last_name }}</p>
                        <p class="order__text">{{ customer.street }}</p>
                        <p class="order__text">{{ customer.zip_code }} {{ customer.city }}</p>
                    </div>
                    <div class="order__contacts">
                        <p class="order__text">Kd.-Nr. {{ customer.tricoma_id or 'Nicht angegeben' }}</p>
                        <p class="order__text">{{ customer.email }}</p>
                        <p class="order__text">{{ customer.tel or 'Nicht angegeben' }}</p>
                    </div>
                    <div class="order__shippinglabel">
                        <input id="ShippingLabel" class="order__input" type="checkbox" value="yes" name="{{ form.shipping_label.name }}">
                        <label class="order__label" for="ShippingLabel">
                        <span class="order__checkbox">
                            <span class="order__innercheckbox"></span>
                        </span>
                            Ich wünsche ein kostenloses Versandlabel um mein Gerät zu versenden.
                        </label>
                    </div>
                    <div id="Orderselect" class="order__select">
                        <div>Shop für Reparatur wählen<sup>*</sup>: </div>
                        <div class="order__selectwrapper select-wrapper">
                            <select name="shop" id="shop">
                                <option value=""></option>
                                {% for option in form.shop %}
                                    <option value="{{ option.id }}">{{ option.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        

        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="order">
                <h2 class="order__heading">Gesamtsumme</h2>
                <div class="order__content">
                    <ul class="order__list order__list--total">
                        <li class="order__item">
                            <span class="order__text">Zwischensumme</span>
                            <span class="order__text">{{ total_cost_including_tax_and_discount }} EUR</span>
                        </li>

                        <!-- nur, wenn sonstige Rep. angeklickt wurde: TODO: NÖ. Bene will, dass immer ein KVA erstellt werden kan. Für Versicherungen etc. -->
                        <li class="order__item">
                            <span class="order__text">Kostenvoranschlag</span>
                            <span class="order__text">kostenlos</span>
                        </li>

                        <!-- nur, wenn versandlabel angeklickt wurde -->
                        <li class="order__item">
                            <span class="order__text">Versandlabel</span>
                            <span class="order__text">kostenlos</span>
                        </li>
                    </ul>
                    <div class="order__divider">
                        <hr class="order__line">
                    </div>
                    <div class="order__total"><span id="totalCost">{{ total_cost_including_tax_and_discount }}</span> EUR</div>
                    <div class="order__text order__text--taxes">inkl. {{ taxes }} EUR MwSt.</div>
                    <div class="order__buttons">
                        <button class="order__button order__button--primary" type="submit">Auftrag abschicken</button>
                        <button class="order__button order__button--secondary" name="{{ form.kva_button.name }}" value="{{ form.kva_button.name }}" type="submit">kostenloser Kostenvoranschlag</button>
                    </div>
                </div>
            </section>
        </div>


        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="order">
                <h3 class="order__subheading">Brauchen Sie Hilfe?</h3>
                <p class="order__text">Werfen Sie einen Blick in unser <a class="order__link" href="">FAQ</a> oder melden Sie sich bei unserem Kundenservice: <a class="order__link" href="tel:4943190700390">+49 431 / 90 700 930</a>.</p>
            </section>
        </div>

        <div class="container container--small">
            <hr class="divider">
        </div>

        <div class="container container--small">
            <section class="order">
                <h2 class="order__heading">Häufige Fragen und Antworten</h2>
                <div class="order__content order__content--questions">
                    <div class="order__question">
                        <h3 class="order__subheading order__subheading--question">Wie geht es weiter?</h3>
                        <p class="order__text">Nachdem Sie Ihre Bestellung online abgeschickt haben, bekommen Sie eine Bestätigung per Nail zugeschickt.</p>
                    </div>
                    <div class="order__question">
                        <h3 class="order__subheading order__subheading--question">Wie läuft der Bezahlvorgang ab?</h3>
                        <p class="order__text">Sie müssen erst zahlen, sobald Ihr Handy bereits fertig repariert ist. Aktuell bieten wir eine Zahlung per Paypal, als Überweisung oder bei Abgabe in einer unserer <a class="order__link" href="">Filialen</a> in Bar, mit EC-Karte oder mit Kreditkarte an.
                            Nachdem wir die Zahlung erhalten haben, senden wir Ihnen das Gerät umgehend und sicher verpackt zu.</p>
                    </div>
                    <div class="order__question">
                        <h3 class="order__subheading order__subheading--question">Wie schicke ich mein Handy zu euch?</h3>
                        <p class="order__text">Sobald Ihre Bestellung bearbeitet ist, bekommen Sie ein kostenloses Versandlabel und Anleitung zum Verpacken zugeschickt</p>
                    </div>
                </div>
            </section>
        </div>


    </form>
{% endblock %}