{% extends "_base.html" %}

{% block content %}
    <form action="#" method="POST" novalidate>

        <div class="container container--small">
            <section class="hero hero--nocontent">
                <h1 class="hero__heading">Sonstige Anfrage</h1>
                <p class="hero__chronic hide-mobile">
                    <a class="hero__chroniclink" href="{{ url_for('main.manufacturer') }}">Hersteller auswählen</a> >
                </p>
            </section>
        </div>

        <div class="container container--small">
            {% for field, errors in form.errors.items() %}
                <p class="form__error form__error--center">
                    {{ form[field].label }} : {{ ', '.join(errors) }}
                </p>
            {% endfor %}
            <p id="Error0" class="form__error form__error--center">Es sind nicht alle Felder korrekt ausgefüllt.</p>
        </div>

        <div class="container container--small">
            <section class="form">
                {#  TODO wir brauchen ne Mail vom Kunden #}
                <h2 class="form__heading"><label for="{{ form.problem_description.name }}">Beschreibung</label></h2>
                <div class="grid__content grid__content--error">
                    {#
                    <p class="form__error">other_form.error </p>
                    #}
                    <p id="description" class="form__error">Bitte füllen Sie das Feld mit Ihrer Beschreibung aus.</p>
                </div>
                <div class="form__content">
                    <textarea id="{{ form.problem_description.name }}" class="form__textarea" name="{{ form.problem_description.name }}" placeholder="Beschreiben Sie ihre Anfrage so genau wie möglich"></textarea>
                    <button id="Submit" class="form__button" type="submit">Abschicken</button>
                </div>
            </section>
        </div>

    </form>
{% endblock %}