{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero">
            <h1 class="hero__heading">Alle Hersteller</h1>
            <p class="hero__chronic hide-mobile">
                <a class="hero__chroniclink" href="{{ url_for('main.manufacturer') }}">Hersteller auswählen</a>
            </p>
            <div class="progressbar">
                <div class="progressbar__step">
                    <div class="progressbar__number progressbar__number--active">1</div>
                    <div class="progressbar__text">Hersteller wählen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP2" class="progressbar__number progressbar__number--active">2</div>
                    <div class="progressbar__text">Modellreihe bestimmen</div>
                </div>
                <div class="progressbar__divider"></div>
                <div class="progressbar__step">
                    <div id="STEP3" class="progressbar__number">3</div>
                    <div class="progressbar__text">Gerät auswählen</div>
                </div>
            </div>
        </section>
    </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Modellreihe wählen</h2>
            <div class="grid__content">
                {% for seria in series %}
                    <div class="grid__item">
                        <a class="grid__link" href="{{ url_for('main.all_devices_of_series', manufacturer_name=manufacturer, series_name=seria.name) }}">
                            <div>{{ seria.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if not series|length %}
                <p class="grid__nodevices">Aktuell bieten wir keine Festpreise für Reparaturen dieses Herstellers an. Melden Sie sich gerne bei unserem <a class="grid__link grid__link--inline" href="{{ url_for('main.faq', q='38') }}">Kundenservice</a>, wenn Sie an einer Reparatur interessiert sind.</p>
                <a class="grid__back" href="{{ url_for('main.manufacturer') }}">zurück zu den Herstellern</a>
            {% endif %}

        </section>
    </div>
{% endblock %}
