{% extends "_base.html" %}
{% block content %}
    <div class="container container--small">
        <section class="hero hero--nocontent">
            <h1 class="hero__heading">Smartphoniker Shop</h1>
            <p class="hero__chronic hide-mobile">
                <a class="hero__chroniclink" href="{{ url_for('main.shop') }}">Shop</a> > 
            </p>
        </section>
    </div>

    <div class="container container--small">
        <section class="grid">
            <h2 class="grid__heading">Hersteller auswählen</h2>
            <div class="grid__content grid__content--short">
                {% for manu in manufacturers %}
                    <div class="grid__item">
                        <a class="grid__link" href="#">
                            {% if manu.image %}
                                <img class="grid__image" src="{{ manu.get_image_path() }}" alt="{{ manu.name }} auswählen">
                            {% else %}
                                <div>{{ manu.name }}</div>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
                <div class="grid__item">
                    <a class="grid__link" href="{{ url_for('main.manufacturer') }}">
                        <div class="grid__more">Alle<br>Hersteller</div>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="container container--small">
        <hr class="divider">
    </div>

    <div class="container container--small">
        <section class="search">
            <h2 class="search__heading"><label for="Search">Gerätebezeichnung eingeben</label></h2>
            <div class="search__content">
                <input id="Search" class="search__input" type="text" placeholder="Suchbegriff eingeben">
                <a class="search__button">Suchen</a>
            </div>
        </section>
    </div>
{% endblock %}
