alembic
celery
coverage
entrypoints
Faker
Flask
Flask-Admin
Flask-AlchemyDumps
Flask-Bcrypt
Flask-Caching
Flask-Login
Flask-Migrate
Flask-Sitemap
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
Jinja2
kombu == 4.6.11
psycopg2-binary
py-vigil-reporter
py-raider-reporter
pycodestyle
pytest-cov
python-dateutil
python-dotenv
redis
speaklater
email_validator
sentry-sdk[flask]
SQLAlchemy
WebTest